/*
Theme Name: MagZee
Theme URI: https://speciatheme.com/magzee-free/
Author: Specia
Author URI: https://speciatheme.com/
Description: MagZee is a trending WordPress theme with lots of powerful features, instantly giving a professional look to your online presence. It fits for business, portfolio, food & restaurant, gym & fitness, spa salon, medical practitioner & hospitals, landing pages, product pages, corporate business, digital agency, product showcase, financial advisor, accountant, law firm, wealth advisor, photography, personal, and any eCommerce stores. MagZee premium version provides you more than 10 different designs and supports popular plugins WPML, Polylang, WooCommerce, Contact Form 7, Revolution Slider, Elementor, Visual Composer, WP-Forms, Ninja Forms, Jetpack, WP-Featherlight, Give (WordPress Donation Plugin), Gravity Forms, Yoast SEO and many more. View the demo of MagZee Premium https://demo.speciatheme.com/pro/?theme=magzee
Template: specia
Version: 1.1.63
License: GPLv3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: magzee
Tags: blog, custom-header, one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-menu,  custom-logo, featured-image-header, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, e-commerce, portfolio, editor-style, grid-layout

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/

/*---------------------------------------
    Header Social Icons
-----------------------------------------*/
.header-top-info-1 .social {
    padding: 0px 0;
    margin: 0;
    line-height: 20px;
    padding: 5px 0 4px;
}
.header-top-info-1 .social li {
    font-family: 'Awesomefont';
    margin-right: 4px;
        display: inline-block;
}
.header-top-info-1 .social li {
    position: relative;
}
.text-center .social li {
    margin: 0 2px;
}
.social li a {
    display: table;
    position: relative;
    -webkit-transition: .3s all;
    transition: .3s all;
     overflow: hidden;
}
.header-top-info-1 .social li a i {
    background: #ffffff;
    border-radius: 3px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #283645;
    width: 25px;
    height: 25px;
    font-size: 12px;
    -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}
.header-top-info-1 .social li a i:hover {
    color: #ffffff;
    -webkit-animation: socialFxD .3s forwards;
            animation: socialFxD .3s forwards
}
@-webkit-keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%)
    }
    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%)
    }
    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

/* Menu*/
.navbar {
    padding: 4px 2px 5px;
}
.nav-magzee .navbar-nav li a {
    color: #ffffff;
}
.nav-magzee .navbar-nav li a:hover {
    color: #ffffff !important;
}
.nav-magzee .dropdown-menu > li > a { 
    color: #747474;
}
.nav-magzee .navbar-nav > .open > a,
.nav-magzee .navbar-nav > .open > a:hover,
.nav-magzee .navbar-nav > .open > a:focus {
 color: #fff !important;
}
.header-magzee {
    text-align: left;
    padding-left: 0;
    padding: 20px 0;
}
.header-magzee .navbar-brand {
    margin: 0;
}
.header-magzee .navbar-brand p.site-description {
    margin:0;
}

@media (min-width: 768px) {
  
  .nav-magzee .navbar-nav {
    width: 100%;
  }
  .nav-magzee .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .nav-magzee .navbar-nav > li.navbar-right {
    float: right !important;
  }
}

/* .navbar-brand { display: block; } */
.navbar-custom .navbar-toggle {text-align: center;}

@media (min-width: 768px) {
    .navbar-brand { display: block; }
    .navbar-custom .navbar-toggle {text-align: left;}

}

@media only screen and (max-width: 767px) and (min-width: 240px) {
.navbar-toggle {
    float: left;
    margin: 0 auto;
    position: relative;
    left: 44%;
}
}

/*---------------------------------------
    Service Proficient  
-----------------------------------------*/

.specia-icon-effect-8 .specia-icon {
    background: #1c314c;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.specia-icon-effect-8 .specia-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px #e84c3d;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.specia-icon-effect-8 .specia-icon:hover {
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

.specia-icon-effect-8 .specia-icon:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.post_date h6 {
    color: #ffffff !important;
}

header#top-navbar {
    padding: 17px 0;
}
#top-navbar ul,
#top-navbar ul li {
    display: inline-block;
}

#top-navbar ul {
    margin: 20px 0;
}

#top-navbar .cart-search ul {
    margin: 30px 0;
}

.main-logo {
    margin: 25px 0;
}

.cart-search li {
    margin-left: 10px;
}

.header-info li {
    margin-right: 30px;
    position: relative;
    padding-left: 60px;
}

.header-info i {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition:  .3s;
    -o-transition:  .3s;
    transition:  .3s;
}

.header-info li i:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.cart-icon {
    position: relative;
}

.cart-icon .cart-count {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    right: 0;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}
.header-top-info-1 .info li a.magzee-button i {
    color: #ffffff;
}
.header-top-info-1 .info li a.cart-icon i {
    color: #ffffff;
    font-size: 22px;
}
span.count {
    color: #ffffff;
    padding: 0px 5px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -16px;
    font-size: 12px;
}
a.magzee-button {
    color: #fff;
    padding: 17px 15px;
}
a.magzee-button:hover {
    color: #fff !important;
}

.header-contact li {
    margin-right: 16px;
}
.header-contact li:last-child {
    margin-right: 0;
}
.header-contact li a{
    font-size: 15px;
}
.header-contact i {
    font-size: 28px;
    margin-right: 8px;
    position: relative;
    top: 4px;
}
@media only screen and (min-width: 200px) and (max-width: 480px) {
    ul.info {
        margin-top: 25px !important;
    }
    .header-magzee .custom-logo-link img {
    margin: 0 auto !important;
    left: 28%;
    position: relative;
}
    .header-contact {
        text-align: center !important;
    }
}

/*---------------------------------------
    Search Result
-----------------------------------------*/ 

.page-wrapper .posts-navigation a {
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 24px;
    border-radius: 30px;
    display: table-cell;
    float: left;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.page-wrapper .posts-navigation a:hover {
    color: #fff;
}

.page-wrapper .posts-navigation .nav-next {
    float: right;
}