/*=============================================*/

.editor-post-title__block .editor-post-title__input{
    font-family: 'Lato', sans-serif;
}

.editor-styles-wrapper{
    font-family: 'Lato', sans-serif;
}

.editor-styles-wrapper ul, .editor-styles-wrapper ol{
    font-family: 'Lato', sans-serif;
}

.wp-block-code .editor-plain-text{
    font-family: 'Lato', sans-serif;
}

.wp-block-pullquote blockquote>.editor-rich-text p{
    font-size: 15px;
}

.wp-block-preformatted pre{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.editor-styles-wrapper p {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

/*=============================================
=            Heading Typography            =
=============================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}