/*
Theme Name: Mega Store
Theme URI: https://www.themefarmer.com/free-themes/mega-store-e-commerce-wordpress-theme/
Author: ThemeFarmer
Author URI: https://www.themefarmer.com
Description: Mega Store is Powerful multipurpose WooCommerce WordPress Theme. Mega Store is the free theme for e-commerce shop with all features. Mega Store is responsive mobile friendly and using bootstrap framework. To show awesome icons on site it's using FontAwesome icons. Mega Store is Search Engine Optimized (SEO) friendly.  Theme is developed to be used for any business, corporate, companies, or freelancers to create an awesome online presence. Theme includes customizable homepage, awesome slider, social links, latest products, latest blog section and other Advance section. Theme Provide 3 page Template (Home Page , Full Width, Left Sidebar) to select layout. Mega Store is perfect suitable for clothing, electronics, mobile and almost any type of store. Mega Store is good for eCommerce solution and compatible with contact form 7, JetPack, WPML.  Documentation: http://docs.themefarmer.com/mega-store-documentation/ See Demo: http://demo.themefarmer.com/mega-store/
Version: 1.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: mega-store
Tags: e-commerce, portfolio, blog, custom-logo, custom-header, custom-menu, featured-images, full-width-template, right-sidebar, left-sidebar, sticky-post, theme-options, threaded-comments, translation-ready, one-column, two-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Mega Store is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
# theme
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a,
a:hover,
a:focus {
    color: #00aeef;
    text-decoration: none;
    outline: none;
}

.btn,
.btn:hover,
.btn:focus {
    text-decoration: none !important;
    outline: none !important;
    border-radius: 2px !important;
}

button,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

input,
select,
textarea {
    max-width: 100%;
    padding: 7px 10px;
    outline: none;
    border-radius: 1px;
    border: 1px solid #607D8B;
}

input[type=checkbox],
input[type=radio] {
    display: inline;
}

textarea {
    overflow: hidden;
}

input,
input:focus,
button,
button:focus,
button:active {
    outline: none;
}

button,
input[type=button],
input[type=submit] {
    background-color: #00aeef;
    color: #FFF;
    border: none;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
    color: #FFF;
}


input[type=reset] {
    color: #00aeef;
    border: 1px solid #00aeef;
    background-color: transparent;
}



blockquote {
    border-left: 5px solid #969696;
    background-color: white;
}

.form-control {
    border-radius: 1px;
    color: #090b0e;
}

.img-thumbnail {
    padding: 0;
    display: block;
    border: none;
    position: relative;
}

.img-responsive {
    width: 100%;
    height: auto;
}







/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}









/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}









/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}









/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}









/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}









/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}









/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}









/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}









/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}









/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}









/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}









/* Make sure logo link wraps around logo image. */

.custom-logo-link {
    display: inline-block;
}

.site-title img {
    height: auto;
    width: 100%;
}

.site-logo {
    margin-top: 10px;
}





/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}









/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}










/*menu start*/

#site-navigation {
    background-color: transparent;
    border: none;
    margin: 0;
}

.navbar-default .navbar-collapse {
    background-color: transparent;
    padding: 0;
}

#primary-menu>li>a,
#primary-menu>li>a:focus,
#primary-menu>li>a:hover {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
}




@media (min-width: 768px) {
    #primary-menu .dropdown-menu {
        display: block;
        transition: all .3s ease-in-out;
        transform: scaleY(0);
        transform-origin: top;
        padding: 0;
        border-radius: 0;
    }

    #primary-menu li:hover>.dropdown-menu {
        transform: scaleY(1);
    }

    #primary-menu>li>.dropdown-menu {}

    #primary-menu>li>.dropdown-menu>li>.dropdown-menu {
        left: 100%;
        top: 0;
    }

    #primary-menu .mobile-eve {
        display: inline-block;
        margin-left: 8px;
    }
}


#primary-menu {
    width: 100%;
}

.btn-menu-item {
    background-color: #e91e63 !important;
    padding: 8px 10px !important;
    color: #FFF !important;
    margin-top: 5px;
}

#primary-menu li.menu-item.menu-button {
    float: right;
}






/*menu end*/


/*header*/

.header-main {
    background-color: #a94442;
    padding: 5px 0;
}

.site-title {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.site-description {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}


.contact-item {
    margin-right: 10px;
}

.contact-info {
    float: left;
}




.mgs-links li {
    display: inline-block;
}

.mgs-links {
    margin: 0;
    padding: 0;
    text-align: right;
}

.mgs-links li a,
.contact-item i {
    /* background-color: #00aeef; */
    display: block;
    color: #00aeef;
    text-align: center;
    width: 25px;
    height: 23px;
    border-radius: 1px;
    border: 1px solid #00aeef;
    padding-top: 1px;
    font-size: 15px;
}

.contact-item i {
    display: inline-block;
    margin-right: 5px;
    padding-top: 2px;
}


/*header*/


/*home common start*/

.home-section {}

.section-dark {}

.section-light {}

.space {
    padding: 50px 0;
}

.owl-carousel {
    display: block;
    z-index: 0;
}

.owl-carousel>.owl-slide {
    display: none;
}

.owl-slide:first-child {
    display: block;
}

.container-fluid {
    padding: 0;
}


.home-section .owl-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 40px;
}

.home-section .owl-next {
    right: 0;
}

.home-section .owl-prev {
    left: 0;
}

.home-section .owl-next,
.home-section .owl-prev {
    position: absolute;
    background-color: #090b0e;
    color: #fff;
    width: 33px;
    height: 40px;
    text-align: center;
    font-size: 27px;
    /* padding-top: 3px; */
    top: 15px;
    border-radius: 2px;
}

.home-section .owl-dots {
    position: absolute;
    bottom: 0;
}

.home-section .owl-dot {
    display: inline-block;
    background-color: #090b0e;
    width: 15px;
    height: 8px;
    margin-right: 6px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
}

.home-section .owl-dot.active {
    background-color: white;
    width: 30px;
}


.home-section .owl-carousel {
    padding-top: 15px;
    padding-bottom: 50px;
}

[class$='-bga'] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}



.section-heading {
    text-align: center;
    margin-bottom: 50px;
}

.section-title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 35px;
    position: relative;
}

.section-heading .section-title:before {
    content: "";
    position: absolute;
    border-top: 1px solid #00aeef;
    width: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -24px;
}

.heading-white {
    color: #FFF;
}

.section-description {
    font-weight: bold;
    font-size: 16px;
}




/*home common end*/


/* blog index start*/

.mgs-pagination {
    text-align: center;
    margin-top: 50px;
}

.pagination .page-numbers {
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid #00aeef;
}

.pagination .page-numbers.current,
.pagination .page-numbers:hover {
    background-color: #00aeef;
    color: #FFF;
}



.content-index .blogs-colum-over {
    border: 1px solid #ddd;
    /* min-height: 300px; */
}

.sticky .blogs-colum-over {
    border-color: #00aeef;
}

.content-index {}

.blog-gallery .mgs-posts {}


.blogs-colum.col-md-6:nth-child(odd) {
    clear: left;
}

/*blog index end*/


/*widgets start*/

.widget .form-group {
    margin: 0;
    padding: 0 5px;
}

.widget-heading .widget-title,
.widget-heading .widget-title a {
    color: #FFF;
}

.widget-heading .widget-title {
    font-size: 18px;
    text-transform: uppercase;
}

.widget ul {
    list-style: none;
    padding-left: 10px;
}

.widget li:before {
    font-family: "FontAwesome";
    content: "\f101";
    margin-right: 10px;
    font-size: 14px;
}

.widget ul li a {
    font-size: 14px;
}

.widget ul li a:hover {
    color: #00aeef;
}

.widget li.cat-item:before {
    content: "\f07b";
}

.widget.widget_archive ul li:before {
    content: "\f187";
}

.widget.widget_pages ul li:before,
.widget.widget_recent_entries ul li:before {
    content: "\f0f6";
}

.widget.widget_recent_comments ul li:before {
    content: "\f0e6";
}

.tagcloud {
    float: left;
}

.tagcloud a {
    border: 1px solid #00aeef;
    color: #333;
    display: inline-block;
    font-size: 14px !important;
    margin: 2px 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.tagcloud a:hover {
    background-color: #090b0e;
    color: #FFF;
    border: 1px solid #090b0e;
}

.calendar_wrap,
.calendar_wrap #wp-calendar {
    width: 100%;
    background-color: #FFF;
}

.calendar_wrap #wp-calendar caption {
    background-color: #00aeef;
    padding: 5px;
    color: #FFF;
}

.calendar_wrap #wp-calendar td,
.calendar_wrap #wp-calendar th {
    text-align: center;
    border: 1px solid #00aeef;
    color: #212121;
}

.widget input,
.widget select,
.widget textarea {
    width: 100%;
}









/* widgets end*/


/* sidebar widget start*/

.sidebar-widget {
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #e2e2e2;
    float: right;
    width: 100%;
}

.sidebar-widget .widget-heading {
    background-color: #00aeef;
    color: #FFF;
    padding: 10px 12px;
    margin: -11px;
    margin-bottom: 10px;
}

.sidebar-widget .widget-heading .widget-title {
    margin: 0;
    padding: 0;
}

.sidebar-widget .search-submit {
    display: none;
}

.sidebar-widget ul {
    list-style-type: none;
    padding: 0 0 0 15px;
    margin: 0;
}

.sidebar-widget ul li::before {
    color: #00aeef;
}

.sidebar-widget ul li a {
    text-decoration: none;
    color: #212121;
}









/* sidebar widget end*/


/*footer start*/

.site-footer {
    background-color: #090b0e;
}

.footer-bar {
    background-color: black;
    padding: 10px 0;
}

.footer-bar p {
    margin: 0;
}

.footer-copy {
    color: #FFF;
}
.footer-right, 
.footer-right a {
    color: #FFF;
}






/*footer end*/


/*footer widgets*/

.footer-widget {
    color: #FFF;
}

.footer-widget ul li a,
.footer-widget li:before,
.footer-widget ul li {
    color: #FFF;
}

.footer-widget .widget-heading {
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 22px;
    margin-top: 0;
    position: relative;
    padding-bottom: 3px;
    text-transform: uppercase;
}



.footer-widget .tagcloud a {
    color: #FFF;
}

.footer-widget input,
.footer-widget select,
.footer-widget textarea {
    color: #212121;
}









/*footer widgets*/


/*
**********************************************************************
***********************custmization start*****************************
**********************************************************************
*/


/*header Start*/

.header-middle {

    padding: 10px;
}

.site-header {
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.18);
    position: relative;
    z-index: 1;
}

.header-top-nav {
    position: fixed;
    top: 0px;
    z-index: 2;
    right: 0;
    left: 0;
    background-color: #00aeef;
}

.header-top {
    border-bottom: 1px solid #e4e4e4;
    padding: 5px 0;
}

.header-bottom {
    border-top: 1px solid #e4e4e4;
}

.col-md-2.site-logo {
    padding-right: 1%;
}

img.img-logo.img-responsive {

    height: 90px;
    width: 300px;
    margin: 0 auto;
}

.logo2 {
    width: 113px;
    float: left;
    padding: 6px;
    margin-top: 6px;
    display: none;
}

.col-md-3.col-sm-12.header-icons-colum {
    padding: 0;
}

/* wp search */

.search-colum .all-search .blog-search {
    width: 100%;
    border: none;
}

.search-colum .all-search.search-form label {
    width: 70%;
    margin: 0;
}

.search-colum .all-search.search-form input.search-submit {
    float: right;
}

.search-colum .all-search .form-group {
    margin: 0;
}

/* wp search */

input.search-elem {
    width: 60%;
    border: none;
    float: left;
}

input.search-elem:active,
input.search-elem:focus {
    outline: none;
    border: none;
}

select.search-elem.search-categorey,
select.search-elem.search-categorey:hover,
select.search-elem.search-categorey:focus,
select.search-elem.search-categorey:active {

    border: none;
    outline: none;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
}

.search-from-con {
    border: 1px solid #ddd;
    border-radius: 1px;
    max-width: 600px;
    margin: 0 auto;
    padding-right: 0px;
    padding: 2px;
    position: relative;
    margin-top: 10px;
    /* overflow: hidden; */
}

.search-cat {
    position: absolute;
    right: 108px;
}

.middle-header-icons {

    text-align: center;
    margin-top: 50px;
}

.middle-header-icon {
    display: inline-block;
    padding-right: 4px;
    padding-left: 5px;
    font-size: 12px;
    padding-top: 10px;
    border-right: 1px solid #ddd;
}

.search-elem.btn.btn-search {
    padding: 10px 30px;
    font-size: 12px;
    background-color: #00aeef;
    color: #fff;
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: 0px !important;
}


.dollar-type.select-dollar,
.dollar-type.select-dollar:active,
.dollar-type.select-dollar:focus,
.dollar-type.select-dollar:hover {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.menu-bar {
    margin: 0 auto;
}


.navbar-toggle {
    color: #00acec;
    border: 1px solid #00aeef !important;
    padding: 10px 18px;
    transition: all .3s ease-in-out;
}

.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
    color: #ffffff;
    border: 1px solid #333333 !important;
    padding: 10px 18px;
    background-color: #00aeef !important;
}

.navbar-collapse {
    overflow-y: inherit;
}

.menu-label {
    margin-right: 20px
}




.department-btn {
    border: 1px solid #ddd;
}

.department-btn .btn {
    width: 100%;
}

.ctalog-con {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
}

.departments {
    background-color: #FFF;
    margin-top: 15px;
    width: 260px;
    padding: 10px;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    top: 41px;
    z-index: 100;
    transition: all .3s ease-in-out;
    border: 1px solid #00aeef;
}

.departments:before {
    border-bottom: 15px solid #00aeef;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    position: absolute;
    top: -15px;
    left: 50px;
    width: 0;
    height: 0;
}

.ctalog-con:hover>.departments,
.show-catalog .departments {
    visibility: visible;
    transform: scaleY(1);
}

.departments>ul {
    padding: 0;
    list-style: none;
}

.departments>ul>li {
    margin-bottom: 10px;
}

.departments>ul>li a {
    padding: 5px;
    display: block;
    color: #090b0e;
}

.departments>ul>li a:hover {
    /*background-color: #090b0e;*/
    color: #00aeef;
}






/*header cart start*/

.ms-header-icons>ul>li {
    list-style: none;
}

.ms-header-icons .widget_shopping_cart {
    background-color: #FFF;
    width: 260px;
    padding: 10px;
    border-radius: 0 0 2px 2px;
    left: auto !important;
    right: 0;
    top: 45px;
    display: block !important;
    transition: all .3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    border-top: 2px solid #00aeef;
}

.site-header-cart:hover .widget_shopping_cart,
.site-header-cart.focus .widget_shopping_cart {
    transform: scaleY(1);
}

.ms-header-cart .site-header-cart {
    padding-bottom: 20px;
}

.ms-header-icons .woocommerce-mini-cart__total.total {
    margin-top: 10px;
    padding-top: 15px;
    display: block;
    margin-bottom: 15px;
}

.ms-header-icons .woocommerce-mini-cart__buttons.buttons {}

.ms-header-icons .woocommerce-mini-cart__buttons.buttons,
.ms-header-icons .woocommerce-mini-cart__total.total {
    text-align: center;
}

.ms-header-icons .cart_list.product_list_widget {
    margin-bottom: 10px;
}

.ms-header-cart {
    display: inline-block;
    max-height: 30px;
}

.ms-header-cart .cart-contents {
    font-size: 20px;
}

.ms-header-cart .cart-contents span.icon {
    margin-right: 5px;
}

.ms-header-cart span.count {
    font-size: 15px;
}

.header-icons-colum-inner {
    padding-top: 10px;
    text-align: center;
}




/*header cart end*/


/*header End*/


/*header top bar*/

.account-links {
    text-align: right;
}

.account-links,
.bgs-social {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.account-links>li {
    display: inline-block;
    margin-left: 20px;
}

.empty-slinks {
    display: inline-block;
}







/*header top end*/


/*slider*/

.show-catalog .slider-section {
    padding-left: 290px;
}



.home-slider .owl-next,
.home-slider .owl-prev {
    position: absolute;
    top: 36%;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.58);
    border: 2px solid #FFF;
    width: 40px;
    text-align: center;
    height: auto;
    border-radius: 0;
    color: #FFF;
}

.home-slider .owl-prev {
    left: 15px;
}

.home-slider .owl-next {
    right: 15px;
}

.home-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 100px;
}

.home-slider .owl-dot {
    background-color: rgba(255, 255, 255, 0.6);
    width: 35px;
    height: 5px;
    margin-right: 13px;
    margin-bottom: 5px;
    border-radius: 1px;
}

.home-slider .owl-dot.active {
    background-color: #2196F3;
}

.carousel-caption {
    bottom: auto;
    top: 25%;
    /* background-color: antiquewhite; */
}

.mgs-slider-heading {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 70px;
}

.mgs-slider-desc {
    font-size: 22px;
}

.banner-link {
    border: 2px solid #FFF;
    color: #FFF;
    text-shadow: 1px 1px 1px #000 !important;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 30px;
}

.banner-link:hover {
    background-color: #00aeef;
    color: #FFF;
    border-color: #00aeef;
}

.carousel-caption {
    text-shadow: 0 3px 3px rgba(0, 0, 0, .6);
}




/*home slider end*/


/*Blog start*/

.section-blog {
    box-shadow: 0px 0px 7px 1px #fff inset;
    background: transparent;
}

.blog-container {
    width: 90%;
}

.blog-colum-row-1,
.blog-colum-row-2 {
    background: #fff;
    margin: 0 auto;
}

.blog-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}


.blogs-colum {
    margin-bottom: 30px;
    background-color: transparent;
    /*min-height: 195px;*/
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.blogs-colum-over.clearfix {
    background-color: #fff;
    padding-left: 15px;
    position: relative;
}

img.img-responsive.blog-photo {
    width: 40%;
    float: left;
    padding: 15px 0px;
    margin-right: 20px;
    max-width: 230px;
    min-height: 190px;
    max-height: 230px;
}

.blog-colum-meta {
    width: auto;
    padding: 10px 20px;
    text-align: left;
    margin: 0 auto;
}

.blog-colum-title {
    font-size: 20px;
}

.blog-colum-desc {

    font-size: 90%;
}

.btn.btn-blog-colum {
    background-color: #000;
    color: #fff;
    font-size: 79%;
    padding: 2% 3%;
}

.blog-image-date {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: #00aeef;
    width: 11%;
    padding: 1%;
    text-align: center;
    color: #fff;
}

.blog-colum-btn {
    text-align: right;
}

/*Blog End*/

/*single*/
.mgs-post {
    border: 1px solid #e7e7e7;
}

.mgs-post .entry-title {
    margin-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.mgs-post .entry-meta {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
}

.mgs-page #comments {
    border: 1px solid #e7e7e7;
}

#comments .comments-title {
    font-size: 20PX;
}

.mgs-page #comments {
    border: 1px solid #e7e7e7;
}

#comments .comments-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.comment-items .comment-item, 
.comment-items .comment-reply-link {
    display: inline;
    margin-right: 10px;
}

.comment-item.comment-author {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.comment-items {
    margin-bottom: 12px;
}

.border.the-comment {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.post-comments {
    font-size: 18px;
}

.comment-reply-link {
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.the-comment:hover > div > .comment-items > .comment-reply-link {
    visibility: visible;
}

/*single*/


/*Srevices Starts*/

.home-section.section-services {
    background-color: #FAFAFA;
}

.services-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.service-item-inner {
    /*background-color: #00aeef;*/
    text-align: center;
    border-radius: 2px;
    /* padding: 10px 20px; */
    border: 2px solid #2196F3;
    color: #FFF;
    position: relative;
}

.service-item-bga{
    z-index: 0;
}

.service-inner-info {
    background-color: rgba(0, 174, 239, 0.34);
    background-color: rgba(0, 0, 0, 0.19);
    padding: 15px;
    text-shadow: 1px 1px 2px #000;
    position: relative;
    z-index: 1;
}

.service-photo {
    filter: blur(2px);
}

.service-icon {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #00aeef;
    display: inline-block;
    width: 50px;
    border-radius: 1px;
}

.service-title {
    text-transform: uppercase;
    font-size: 20px;
}

.service-desc {
    font-size: 13px;
}

.service-image-overlay.service-image-overlay-2 {
    background-color: #c4c0ffde;
}

.service-image-overlay.service-image-overlay-3 {
    background-color: #ffa500d1;
}

.service-image-overlay.service-image-overlay-4 {
    background-color: #1cef1cad;
}

.service-image-overlay.service-image-overlay-1 {
    background-color: #1b5f5fba;
}






/*Services End*/


/*Features*/

.home-section.section-features {
    background-color: #ECEFF1;
}

.features-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.feature-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.feature-info {
    margin-left: 90px;
}


.feature-item-inner {
    background-color: #FFF;
    padding: 10px;
    border: 1px solid #00aeef;
    border-radius: 2px;
    text-align: center;
    border-bottom: 4px solid #00aeef;
    color: #00aeef;
}

.feature-icon {
    width: 70px;
    border: 1px solid #00aeef;
    margin: 0 auto;
    font-size: 40px;
    float: left;
    color: #00aeef;
    border-radius: 11px;
}

.feature-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
}






/*Features*/


/*Home Porduct*/

.product-item {
    background-color: #FFF;
    display: inline-block;
}

.owl-carousel .product-item {
    display: block;
}

.prodcut-info {
    padding: 10px;
    text-align: center;
}


.owl-carousel>.product-item {
    width: 270px;
    display: none;
    float: left;
}

.owl-carousel>.product-item:nth-item(1),
.owl-carousel>.product-item:nth-item(2),
.owl-carousel>.product-item:nth-item(3),
.owl-carousel>.product-item:nth-item(4) {
    display: block;
}


.add_to_cart_button:before {
    content: "\f291";
    font-family: "FontAwesome";
    margin-right: 10px;
}






/*Home Porduct*/


/*latest Products start*/

.products-latest {
    background-color: #00aeef;
}


.products-latest .section-heading {
    color: #FFF;
}


.product-tabs-filters {
    margin-bottom: 50px;
}

/*latest Products end*/


/*brands start*/

.home-section.space.section-brands {
    background-color: #d1d9e0;
}

.brand-item-inner {
    background-color: #FFF;
    padding: 5px;
    border-radius: 3px;
}

/*brands end*/


/*testimonials start*/

.home-section.space.section-testimonials {
    background-color: #6d7bce;
}

.testimonials-details {
    max-width: 650px;
    margin: 0 auto;
}


.testimonial-top {
    background-color: #00aeef;
    color: #FFF;
    text-align: center;
    /* min-height: 200px; */
    padding: 10px;
    /* margin-top: 190px; */
    padding-top: 100px;
    padding-bottom: 30px;
    transition: all .3s ease-in-out;
}

.testimonial-name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.testimonial-img {
    position: absolute;
    top: 10px;
    border-radius: 100%;
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.testimonial-item-inner {
    position: relative;
    text-align: center;
    padding-top: 90px;
    transition: all .3s ease-in-out;
    /*width: 300px;*/
    margin: 0 auto;
}

.testimonial-img img {
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

.testimonial-bottom {
    min-height: 150px;
    background-color: #ddd;
    padding: 20px;
}

.testimonial-item-inner:hover .testimonial-top {
    background-color: #000;
}





/*testimonials end*/


/*about start*/

.home-section.space.section-about {
    background-color: #CFD8DC;
}

.about-item-inner {
    height: 100%;
}

.about-item-1 .about-item-inner {
    border: 1px solid #00aeef;
}

.about-details {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
}


/*about end*/


/*skill start*/

.home-section.space.section-skill {
    background-color: #CFD8DC;
}

.skill-item-inner {
    height: 100%;
}

.skill-item-2 .skill-item-inner {
    border: 1px solid #00aeef;
}

.skill-details {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
}




/*skill end*/


/*hero start*/

.hero-details {
    position: relative;
    min-height: 500px;
}

.hero-image {
    background-image: url(images/big-title-image.jpg);
    min-height: 705px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hero-captions {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 1px 1px 7px #090b0e;
    color: #FFF;
}

.hero-captions.hero-captions-center {
    text-align: center;
}

.hero-captions.hero-captions-left {
    text-align: left;
}

.hero-captions.hero-captions-right {
    text-align: right;
}

.hero-title {
    font-size: 80px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #e91e63;
}

.hero-subtitle {
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
}

.hero-description {
    font-size: 25px;
    margin-top: 30px;
}

.hero-buttons {
    margin-top: 40px;
}

.big-button {
    background-color: #E91E63;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: bolder;
    color: #FFF;
}

.big-button:hover,
a.btn.big-button:active,
a.btn.big-button:focus {
    color: #FFF;
}




/*hero start*/


/*Woocommerce Start*/

.woocommerce-loop-product__title {
    text-align: center;
    display: block;
    font-size: 20px !important;
    margin: 20px 0;
    color: #00aeef;
}

.product-item .price {
    display: block;
    text-align: center;
    color: #00aeef !important;
    font-weight: bold;
    font-size: 16px !important;
    margin-bottom: 10px;
}

.product-item .star-rating {
    display: inline-block !important;
}

.woocommerce .star-rating::before {
    color: #090b0e;
}

.star-rating span:before {
    color: #00aeef;
}

.woocommerce span.onsale {
    background-color: #F44336;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    min-width: 70px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background-color: #00aeef;
    color: #ffffff;
    border-radius: 2px;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: #090b0e !important;
    color: #FFF !important;
}


.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}

.woocommerce ul.products li.product .button {
    display: inline-block;
}

.woocommerce ul.products li.product .price {
    display: block;
    text-align: center;
    color: #00aeef;
    font-size: 16px;
}

.woocommerce ul.products li.product .price del {
    display: inline-block;
    margin-right: 5px;
}

.woocommerce .products .star-rating {
    display: inline-block;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #00aeef;
    color: #fff;
    transition: all .3s ease-in-out;
}




/*Woocommerce Start


/*text scroll*/

.customize-partial-edit-shortcut-mega_store_top_message {
    left: 35px;
}

.scroll-left {
    height: 20px;
    overflow: hidden;
    position: relative;
}

.scroll-left .scroll-item {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 25px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s linear infinite;
}


@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        /* Browser bug fix */
        -webkit-transform: translateX(100%);
        /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Browser bug fix */
        -webkit-transform: translateX(-100%);
        /* Browser bug fix */
        transform: translateX(-100%);
    }
}



/*text scroll