/*
 * Editor Style CSS
 *
 * Add styling for the Visual Editor
 *
 * @package Gambit
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Container
2.0 - Typography
3.0 - Elements
4.0 - Alignments
5.0 - Captions
6.0 - Galleries
7.0 - Shortcodes


/*--------------------------------------------------------------
# 1.0 - Container
--------------------------------------------------------------*/
body {
	margin: 0.5em 1.5em;
	max-width: 705px;
}

/*--------------------------------------------------------------
# 2.0 - Typography
--------------------------------------------------------------*/
body {
	color: #333333;
	font-size: 16px;
	font-size: 1rem;
	font-family: 'Oxygen', Tahoma, Arial;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	overflow: auto;
	margin-bottom: 1.6em;
	padding: 1.6em;
	max-width: 100%;
	background: #eee;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
}

code,
kbd,
tt,
var {
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# 3.0 - Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

blockquote {
	margin: 0 0 1.5em;
	padding-left: 1.25em;
	border-left: 3px solid #ddd;
	color: #777;
	font-style: italic;
	font-size: 18px;
	font-size: 1.125rem;
}

blockquote cite,
blockquote small {
	display: block;
	margin-top: 1em;
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote > :last-child {
	margin-bottom: 0.5em;
}

hr {
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	background-color: #ccc;
}

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0 0 0 1.25em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em;
}

img {
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	border: none;
	table-layout: fixed;
}

th,
td {
	padding: 0.3em 0.6em;
	border: 1px solid #ddd;
}

a {
	color: #1585b5;
	text-decoration: none;
}

a:link,
a:visited {
	color: #1585b5;
}

a:hover,
a:focus,
a:active {
	color: #252525;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# 4.0 - Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}


/*--------------------------------------------------------------
# 5.0 - Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
# 6.0 - Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 1em 1.5em 0 0;
	width: 100%;
	vertical-align: top;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
}

/*--------------------------------------------------------------
# 7.0 - Shortcodes
--------------------------------------------------------------*/
.wp-audio-shortcode a,
.wp-playlist a {
	box-shadow: none;
}

.mce-content-body .wp-audio-playlist {
	margin: 0;
	padding-bottom: 0;
}

.mce-content-body .wp-playlist-tracks {
	margin-top: 0;
}

.mce-content-body  .wp-playlist-item {
	padding: 10px 0;
}

.mce-content-body .wp-playlist-item-length {
	top: 10px;
}
