/*
 * ThemeZee Widget Bundle CSS
 * https://themezee.com/plugins/widget-bundle/
 *
 * Copyright(C) 2015, ThemeZee.com - support@themezee.com
 * License: GPL v3
 * License URI: http://www.gnu.org/licenses/gpl-3.0.html
 *
 * @package Gambit
 */


/*--------------------------------------------------------------
# General Styles
---------------------------------------------------------------- */

/* Clearing Floats */
.tzwb-clearfix:before,
.tzwb-clearfix:after {
	display: table;
	content: " ";
}

.tzwb-clearfix:after {
	clear: both;
}

.tzwb-clearfix {
	*zoom: 1; /* For IE 6/7 only */
}


/*--------------------------------------------------------------
# Facebook Like Box Widget
---------------------------------------------------------------- */
.tzwb-facebook-likebox .tzwb-content {
	overflow: hidden;
}


/*--------------------------------------------------------------
# Recent Posts Widget
---------------------------------------------------------------- */
.tzwb-recent-posts .tzwb-posts-list li {
	overflow: hidden;
	padding: 0;
	list-style: none;
}

.tzwb-recent-posts .tzwb-posts-list .tzwb-excerpt p {
	margin: 0;
	padding: 0;
}

.tzwb-recent-posts .tzwb-posts-list .wp-post-image {
	float: left;
	margin: 0.3em 0.8em 0.8em 0;
	max-width: 80px;
	height: auto;
}

.tzwb-posts-list .tzwb-entry-meta {
	margin: 0.2em 0 0.8em;
	font-size: 12px;
	font-size: 0.75rem;
}

/*--------------------------------------------------------------
# Recent Comments Widget
---------------------------------------------------------------- */
.tzwb-recent-comments .tzwb-comments-list li {
	overflow: auto;
	margin-bottom: 0.4em;
	list-style: none;
}

.tzwb-recent-comments .tzwb-comments-list .avatar {
	float: left;
	margin: 0.3em 0.8em 0.8em 0;
}

.tzwb-comments-list .tzwb-comment-content {
	font-style: italic;
}

.tzwb-comments-list .tzwb-comment-date {
	margin: 0.2em 0 0.8em;
	color: #999;
	font-size: 12px;
	font-size: 0.75rem;
}

/*--------------------------------------------------------------
# Tabbed Content Widget
---------------------------------------------------------------- */
.tzwb-tabbed-content .tzwb-tabnavi-wrap {
	overflow: auto;
	margin: 0 -0.3em;
	padding: 0;
	list-style: none;
}

.tzwb-tabbed-content .tzwb-tabnavi {
	position: relative;
	list-style: none;
	list-style-position: outside;
}

.tzwb-tabbed-content .tzwb-tabnavi li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

.tzwb-tabbed-content .tzwb-tabnavi li a {
	display: block;
	margin: 0 0.3em 0.3em 0;
	padding: 0.3em 0.8em;
	background: #252525;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	font-size: 0.8125rem;
}

.tzwb-tabbed-content .tzwb-tabnavi li a:link,
.tzwb-tabbed-content .tzwb-tabnavi li a:visited  {
	color: #fff;
	transition: all 0.2s ease;
}

.tzwb-tabbed-content .tzwb-tabnavi li a:hover,
.tzwb-tabbed-content .tzwb-tabnavi li a:active {
	background: #1585b5;
	text-decoration: none;
}

.tzwb-tabbed-content .tzwb-tabnavi li a.current-tab {
	background: #1585b5;
	color: #fff;
}

.tzwb-tabbed-content .tzwb-tabcontent {
	margin: 1em 0 0 0;
	padding: 0;
}

.tzwb-tabbed-content .tzwb-tabcontent li.tzwb-has-thumbnail {
	overflow: auto;
	padding: 0.5em 0.3em;
	list-style: none;
}

.tzwb-tabbed-content .tzwb-tabcontent  li.tzwb-has-thumbnail .wp-post-image {
	float: left;
	margin: 0.3em 0.8em 0.8em 0;
	max-width: 80px;
	height: auto;
}

.tzwb-tabbed-content .tzwb-tabcontent .tzwb-comments-list li.tzwb-has-avatar {
	overflow: auto;
	padding: 0.5em 0.3em;
	list-style: none;
}

.tzwb-tabbed-content .tzwb-tabcontent .tzwb-comments-list li.tzwb-has-avatar .avatar {
	float: left;
	margin: 0.3em 0.8em 0.3em 0;
}

.tzwb-tabbed-content .tzwb-tabcontent ul li .tzwb-entry-meta {
	margin: 0.2em 0 0.6em;
}

/*--------------------------------------------------------------
# Social Icons Widget
---------------------------------------------------------------- */
.tzwb-social-icons .social-icons-menu {
	list-style: none;
	line-height: 1;
}

.tzwb-social-icons .social-icons-menu li {
	margin: 0 2px 2px 0;
}

.tzwb-social-icons .social-icons-menu li a {
	padding: 0.8em;
	background: #1585b5;
	transition: all 0.2s ease;
}

.tzwb-social-icons .social-icons-menu li a:before {
	font-size: 20px;
}

.tzwb-social-icons .social-icons-menu li a:hover {
	background: #252525;
	text-decoration: none;
}
