body {
	unicode-bidi: embed;
	direction: rtl;
}

blockquote {
	padding-right: 1.25em;
	padding-left: 0;
	border-right: 3px solid #ddd;
	border-left: none;
}

ul,
ol {
	padding: 0 1.25em 0 0;
}

li > ul,
li > ol {
	margin-right: 1.5em;
	margin-left: 0;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	right: 5px;
	left: auto;
}

.alignleft {
	float: right;
	margin-right: 0;
	margin-left: 1.5em;
}

.alignright {
	float: left;
	margin-right: 1.5em;
	margin-left: 0;
}

.aligncenter {
	margin-right: 0;
	margin-right: auto;
	margin-left: 0;
	margin-left: auto;
}

.site-content {
	padding: 2em 2em 0 0;
}

.content-area {
	padding-right: 0;
	padding-left: 2em;
}

.main-sidebar {
	padding-right: 0;
	padding-left: 2em;
}

.small-sidebar {
	padding-right: 0;
	padding-left: 2em;
}

.site-branding {
	float: right;
}

.site-branding .custom-logo {
	margin: 0.4em 0 0.4em 0.6em;
}

.header-widget {
	float: left;
	margin: 0.4em 1.5em 0 0;
}

.main-navigation-menu {
	float: right;
}

.main-navigation-menu li {
	float: right;
}

.main-navigation-menu > .menu-item-has-children > a:after,
.main-navigation-menu ul .menu-item-has-children > a:after {
	margin: 0.15em 0.4em 0 0;
}

.main-navigation-menu li ul ul {
	right: 100%;
	left: auto;
}

.social-icons-menu li {
	float: right;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 1em 0.5em 0;
}

.search-form .search-field {
	padding: 0.55em 1em 0.5em 3em;
}

.search-form .search-submit {
	right: auto;
	left: 0;
}

.widget-magazine-posts .medium-post {
	float: right;
	padding-right: 0;
	padding-left: 2em;
}

.widget-magazine-posts .small-post {
	float: right;
}

.widget-magazine-posts .small-post .wp-post-image {
	float: right;
	margin: 0 0 0 1em;
}

.widget-magazine-posts .magazine-grid {
	margin-right: 0;
	margin-left: -2em;
}

.widget-magazine-posts .magazine-grid .large-post {
	float: right;
	padding-right: 0;
	padding-left: 2em;
}

.widget-magazine-posts .magazine-grid .post-column:nth-child(2n+1) .large-post,
.widget-magazine-posts .magazine-grid .post-column:nth-child(3n+1) .medium-post {
	clear: right;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content .magazine-posts-columns-post-list {
	float: right;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content {
	float: right;
}

.widget-magazine-posts-columns .magazine-posts-column-left {
	float: right;
	padding-right: 0;
	padding-left: 1em;
}

.widget-magazine-posts-columns .magazine-posts-column-right {
	margin-right: 50%;
	margin-left: 0;
	padding-right: 1em;
	padding-left: 0;
}

.widget-magazine-posts-columns .medium-post {
	padding-right: 0;
	padding-left: 0;
}

.small-archive-post .wp-post-image {
	float: right;
	margin: 0 0 0 1.5em;
}

.entry-meta .meta-date,
.entry-meta .meta-author {
	float: right;
	margin-right: 0;
	margin-left: 1em;
}

.entry-meta span:before {
	margin-right: 0;
	margin-left: 0.2em;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	float: right;
	margin: 0 0 0.3em 0.3em;
}

.post-navigation .nav-links .nav-previous {
	float: right;
}

.post-navigation .nav-links .nav-next {
	float: left;
}

.post-navigation .nav-links .nav-previous a:before {
	margin-right: 0;
	margin-left: 3px;
}

.post-navigation .nav-links .nav-next a:after {
	margin-right: 4px;
	margin-left: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0;
	margin-left: 0.5em;
}

.comment-meta {
	float: right;
}

.comment-meta .comment-author img {
	float: right;
	margin-right: 0;
	margin-left: 1em;
}

.comment-meta .comment-metadata a {
	margin-right: 0;
	margin-left: 1em;
}

.comment-content {
	clear: right;
}

.comment-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next {
	float: left;
}

.comment-navigation .nav-previous a:before {
	margin-right: 0;
	margin-left: 3px;
}

.comment-navigation .nav-next a:after {
	margin-right: 4px;
	margin-left: 0;
}

.comment-reply-title small a {
	margin-right: 1em;
	margin-left: 0;
}

.site-footer .site-info {
	float: right;
}

.gallery-item {
	padding: 1em 0 0 1.5em;
}

@media only screen and (max-width: 80em) {
	.site-content {
		padding: 1.5em 1.5em 0 0;
	}

	.content-area,
	.main-sidebar,
	.small-sidebar {
		padding-right: 0;
		padding-left: 1.5em;
	}

	.widget-magazine-posts .medium-post,
	.widget-magazine-posts .magazine-grid .large-post {
		padding-right: 0;
		padding-left: 1.5em;
	}

	.widget-magazine-posts .magazine-grid {
		margin-right: 0;
		margin-left: -1.5em;
	}

	.widget-magazine-posts-columns .magazine-posts-column-left {
		padding-right: 0;
		padding-left: 0.75em;
	}

	.widget-magazine-posts-columns .magazine-posts-column-right {
		padding-right: 0.75em;
		padding-left: 0;
	}

}

@media only screen and (max-width: 70em) {
	.small-sidebar .widget {
		padding-right: 0;
		padding-left: 1.5em;
	}

}

@media only screen and (max-width: 55em) {
	.main-navigation-menu ul,
	.mega-menu-item .mega-menu-content,
	.mega-menu-item .mega-menu-content .mega-menu-widget {
		right: auto;
		left: auto;
	}

	.main-navigation-menu li ul ul {
		right: auto;
		left: auto;
	}

	.main-navigation-toggle {
		text-align: right;
	}

	.main-navigation-toggle:after {
		float: right;
		margin: 0 0 0 0.75em;
	}

	.main-navigation-menu {
		float: right;
	}

	.main-navigation-menu a {
		clear: right;
	}

	.main-navigation-menu ul a {
		padding-right: 2em;
		padding-left: 0;
	}

	.main-navigation-menu ul li ul a {
		padding-right: 4em;
		padding-left: 0;
	}

	.main-navigation-menu ul li ul li ul a {
		padding-right: 6em;
		padding-left: 0;
	}

	.main-navigation-menu ul li ul li ul li ul a {
		padding-right: 8em;
		padding-left: 0;
	}

	.main-navigation-menu .submenu-dropdown-toggle {
		float: left;
	}

}

@media only screen and (max-width: 40em) {
	.widget-magazine-posts .magazine-grid-two-columns {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-magazine-posts .magazine-grid-three-columns {
		margin-right: 0;
		margin-left: -1.2em;
	}

	.widget-magazine-posts-columns .magazine-posts-column-right {
		margin-right: 0;
		margin-left: 0;
		padding-right: 0;
		padding-left: 0;
	}

	.widget-magazine-posts .large-post .wp-post-image {
		float: right;
		margin: 0 0 0 1.5em;
	}

	.widget-magazine-posts .magazine-grid .large-post {
		clear: right;
	}

}

@media only screen and (max-width: 35em) {
	.widget-magazine-posts .magazine-grid-three-columns {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-magazine-posts .medium-post {
		padding-right: 0;
		padding-left: 0;
	}

	.widget-magazine-posts .medium-post .wp-post-image {
		float: right;
		margin: 0 0 0 1em;
	}

}

@media only screen and (min-width: 85em) {
	.wide-layout .header-main {
		padding-right: 0;
		padding-left: 0;
	}

}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
	@media {
		.content-area,
		.main-sidebar,
		.small-sidebar {
			margin-right: 0;
			margin-left: -1px;
		}
	}
}

@media not all and (min-resolution:.001dpcm) {
	@media {
		.content-area,
		.main-sidebar,
		.small-sidebar {
			margin-right: 0;
			margin-left: -1px;
		}
	}
}

.related-posts-list li .wp-post-image {
	float: right;
	margin: 0 0 0 1em;
}

.related-posts-columns {
	margin-right: 0;
	margin-left: -1em;
}

.related-posts-columns .related-post-column {
	float: right;
	padding-right: 0;
	padding-left: 1em;
}

.related-posts-two-columns .related-post-column:nth-child(2n + 1) {
	clear: right;
}

.related-posts-three-columns .related-post-column:nth-child(3n + 1) {
	clear: right;
}

.related-posts-four-columns .related-post-column:nth-child(4n + 1) {
	clear: right;
}

@media only screen and (max-width: 50em) {
	.related-posts-four-columns .related-post-column:nth-child(2n + 1) {
		clear: right;
	}
}

@media only screen and (max-width: 35em) {
	.related-posts-three-columns .related-post-column {
		padding-right: 0;
		padding-left: 0;
	}

}

@media only screen and (max-width: 25em) {
	.related-posts-two-columns .related-post-column,
	.related-posts-four-columns .related-post-column {
		padding-right: 0;
		padding-left: 0;
	}

}

.tzwb-recent-posts .tzwb-posts-list .wp-post-image {
	float: right;
	margin: 0.3em 0 0.8em 0.8em;
}

.tzwb-recent-comments .tzwb-comments-list .avatar {
	float: right;
	margin: 0.3em 0 0.8em 0.8em;
}

.tzwb-tabbed-content .tzwb-tabnavi li {
	float: right;
}

.tzwb-tabbed-content .tzwb-tabnavi li a {
	margin: 0 0 0.3em 0.3em;
}

.tzwb-tabbed-content .tzwb-tabcontent  li.tzwb-has-thumbnail .wp-post-image {
	float: right;
	margin: 0.3em 0 0.8em 0.8em;
}

.tzwb-tabbed-content .tzwb-tabcontent .tzwb-comments-list li.tzwb-has-avatar .avatar {
	float: right;
	margin: 0.3em 0 0.3em 0.8em;
}

.tzwb-social-icons .social-icons-menu li {
	margin: 0 0 2px 2px;
}

.post-slider .zeeslide {
	text-align: right;
	direction: rtl;
}

.zeeflex-viewport {
	direction: ltr;
}

.post-slider .zeeslide .slide-post {
	right: auto;
	right: 0;
	left: auto;
	left: 0;
}

.post-slider .zeeslide .slide-post .entry-content p:last-child:after {
	margin: 0 0.4em 0 0;
}

.post-slider-controls {
	clear: right;
}

.post-slider-controls .zeeflex-direction-nav {
	right: 1em;
	left: auto;
}

.post-slider-controls .zeeflex-direction-nav a {
	text-align: right;
}

.post-slider-controls .zeeflex-direction-nav .zeeflex-next {
	right: 0;
	left: auto;
}

.post-slider-controls .zeeflex-direction-nav .zeeflex-prev {
	right: 42px;
	left: auto;
}

.post-slider-controls .zeeflex-control-nav {
	right: auto;
	left: 0;
}

.post-slider-controls .zeeflex-control-nav li a {
	text-indent: -9999px;
}

@media only screen and (max-width: 40em) {
	.post-slider .zeeslide .slide-post {
		right: auto;
		left: auto;
	}

}
