/*
Theme Name: Gambit
Theme URI: https://themezee.com/themes/gambit/
Author: ThemeZee
Author URI: https://themezee.com
Description: Gambit is a complex and highly flexible WordPress theme perfectly suited for any news, magazine or blog website. It features several different layout options, two sidebars and a stunning featured post slider. The easy to use Magazine Homepage template allows you to create a powerful online magazine in just a few minutes.
Version: 1.3.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: gambit
Tags: three-columns, custom-background, custom-header, custom-logo, custom-menu, editor-style, rtl-language-support, grid-layout, blog, entertainment, news, featured-images, flexible-header, custom-colors, full-width-template, sticky-post, threaded-comments, translation-ready, theme-options, left-sidebar, right-sidebar

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Gambit is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Normalize
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Accessibility
6.0 - Alignments
7.0 - Clearings
8.0 - Layout Structure
9.0 - Header
10.0 - Navigation
	10.1 - Main Navigation
	10.2 - Social Icon Menu
11.0 - Widgets
	11.1 - Default Widgets
	11.2 - Magazine Posts Widgets
12.0 - Posts and pages
11.0 - Comments
12.0 - Footer
13.0 - Media
	13.1 - Captions
	13.2 - Galleries
14.0 - Media Queries
	14.1 - Desktop Large ( < 1120px )
	14.2 - Desktop Medium ( < 1040px )
	14.3 - Desktop Small ( < 960px )
	14.4 - Tablet Large ( < 880px )
	14.5 - Tablet Medium ( < 800px )
	14.6 - Tablet Small ( < 720px )
	14.7 - Mobile Extra Large ( < 640px )
	14.8 - Mobile Large ( < 560px )
	14.9 - Mobile Medium ( < 480px )
	14.10 - Mobile Small ( < 320px )
15.0 - Theme Option Styles
	15.1 - Sidebar Left Layout
	15.2 - Sticky Navigation
16.0 - Media Query Fixes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 1.0 - Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	margin: 0.67em 0;
	font-size: 2em;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
	font-family: monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# 2.0 - Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #333333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: 'Oxygen', Tahoma, Arial;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	overflow: auto;
	margin-bottom: 1.6em;
	padding: 1.6em;
	max-width: 100%;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
}

code,
kbd,
tt,
var {
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# 3.0 - Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #e5e5e5; /* Fallback for when there is no custom background color defined. */
}

blockquote {
	margin: 0 0 1.5em;
	padding-left: 1.25em;
	border-left: 3px solid #ddd;
	color: #777;
	font-style: italic;
	font-size: 18px;
	font-size: 1.125rem;
}

blockquote cite,
blockquote small {
	display: block;
	margin-top: 1em;
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote > :last-child {
	margin-bottom: 0.5em;
}

hr {
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	background-color: #ccc;
}

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0 0 0 1.25em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em;
}

img {
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	border: none;
	table-layout: fixed;
}

th,
td {
	padding: 0.3em 0.6em;
	border: 1px solid #ddd;
}

a {
	color: #1585b5;
	text-decoration: none;
}

a:link,
a:visited {
	color: #1585b5;
}

a:hover,
a:focus,
a:active {
	color: #252525;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# 4.0 - Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 0.5em 1em;
	border: none;
	background: #1585b5;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	font-family: 'Oxygen', Tahoma, Arial;
	transition: all 0.2s ease;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #252525;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background: #444;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.3em 0.6em;
	max-width: 100%;
	border: 1px solid #ddd;
	color: #666;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 1px solid #ccc;
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# 5.0 - Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar. */
	display: block;
	clip: auto !important;
	padding: 15px 23px 14px;
	width: auto;
	height: auto;
	border-radius: 3px;
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	color: #21759b;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: normal;
}

/*--------------------------------------------------------------
# 6.0 - Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

/*--------------------------------------------------------------
# 7.0 - Clearings
--------------------------------------------------------------*/
.clearfix:before,
.clearfix:after,
.post-navigation .nav-links:before,
.post-navigation .nav-links:after,
.comment-navigation:before,
.comment-navigation:after {
	display: table;
	content: "";
}

.clearfix:after,
.post-navigation .nav-links:after,
.comment-navigation:after {
	clear: both;
}

/*--------------------------------------------------------------
# 8.0 - Layout Structure
--------------------------------------------------------------*/
.site {
	margin: 0 auto;
	max-width: 1340px;
	width: 100%;
}

.site-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	padding: 2em 0 0 2em;
	background: #fff;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.content-area {
	order: 1;
	box-sizing: border-box;
	padding-right: 2em;
	width: 56%;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
}

.main-sidebar {
	order: 2;
	padding-right: 2em;
	width: 22%;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
}

.small-sidebar {
	order: 3;
	padding-right: 2em;
	width: 22%;
	-webkit-box-ordinal-group: 4;
	-ms-flex-order: 3;
}

/* Fullwidth Template */
.site-content .fullwidth-content-area {
	float: none;
	width: 100%;
}

/*--------------------------------------------------------------
# 9.0 - Header
--------------------------------------------------------------*/
.site-header {
	background: #fff;
}

.header-main {
	padding: 2em;
}

.site-branding {
	float: left;
	margin: 0;
	max-width: 100%;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
	border: none;
	text-decoration: none;
}

.site-title {
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #1585b5;
	text-decoration: none;
	font-weight: bold;
	font-size: 32px;
	font-size: 2rem;
	font-family: 'Oxygen', sans-serif;
}

.site-title a:link,
.site-title a:visited {
	color: #1585b5;
	transition: all 0.2s ease;
}

.site-title a:hover,
.site-title a:active {
	color: #252525;
}

.site-branding .custom-logo {
	margin: 0.4em 0.6em 0.4em 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

.site-description {
	margin: 0 0 0.5em;
	font-size: 15px;
	font-size: 0.9375rem;
}

/* Header Widgets */
.header-widgets {
	display: inline;
}

.header-widget {
	float: right;
	margin: 0.4em 0 0 1.5em;
}

.header-widget ul {
	margin: 0;
	padding: 0;
}

.header-widget-title {
	margin: 0 0 0.5em;
}

/* Custom Header Image */
.header-image {
	margin: 1px 0 0;
	text-align: center;
}

.header-image img {
	max-width: 1340px;
	width: 100%;
	height: auto;
	vertical-align: top;
}

/*--------------------------------------------------------------
# 10.0 - Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 10.1 - Main Navigation
--------------------------------------------------------------*/
.primary-navigation-wrap {
	background: #252525;
	color: #fff;
}

.main-navigation-toggle {
	display: none;
}

.main-navigation-menu {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-position: outside;
	list-style-type: none;
}

.main-navigation-menu li {
	float: left;
}

.main-navigation-menu a {
	display: block;
	padding: 0.9em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	font-family: 'Oxygen', Tahoma, Arial;
	transition: all 0.2s ease;
}

.main-navigation-menu > .menu-item-has-children > a:after,
.main-navigation-menu ul .menu-item-has-children > a:after {
	display: inline-block;
	margin: 0.15em 0 0 0.4em;
	color: #fff;
	content: "\00BB";
	vertical-align: top;
	text-decoration: inherit;
	font-size: 16px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-navigation-menu a:link,
.main-navigation-menu a:visited {
	color: #fff;
	text-decoration: none;
}

.main-navigation-menu a:hover,
.main-navigation-menu a:active {
	background: #1585b5;
}

.main-navigation-menu ul {
	position: absolute;
	z-index: 99;
	display: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid #fff;
	background: #252525;
	list-style-position: outside;
	list-style-type: none;
}

.main-navigation-menu ul li {
	position: relative;
	float: none;
}

.main-navigation-menu ul a {
	padding: 0.75em 1em;
	min-width: 250px;
	min-width: 16rem;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	font-size: 13px;
	font-size: 0.8125rem;
	transition: none;
}

.main-navigation-menu ul li:last-child a {
	border-bottom: none;
}

.main-navigation-menu li ul ul {
	top: 0;
	left: 100%;
	border-top: none;
}

.main-navigation-menu li.menu-item-has-children:hover > ul,
.main-navigation-menu li.page_item_has_children:hover > ul,
.main-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
	display: block;
}

.main-navigation-menu li.current-menu-item > a {
	background: #1585b5;
}

/* Mega Menu Styling */
.mega-menu-content .mega-menu-widget a:link,
.mega-menu-content .mega-menu-widget a:visited {
	color: #fff;
}

.mega-menu-content .mega-menu-widget a:hover,
.mega-menu-content .mega-menu-widget a:active {
	color: rgba(255,255,255,0.6);
}

.mega-menu-content .mega-menu-widget ul li {
	display: block;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.mega-menu-content .mega-menu-widget ul li a {
	display: block;
	padding: 0.5em 0.75em;
}

.main-navigation-menu .mega-menu-content .mega-menu-widget ul li a:hover {
	background: #1585b5;
	color: #fff;
}

.mega-menu-content .mega-menu-widget .entry-meta,
.mega-menu-content .mega-menu-widget .entry-meta span:before {
	color: #ddd;
}

/*--------------------------------------------------------------
## 10.2 - Social Icons Menu
--------------------------------------------------------------*/
.social-icons-menu {
	margin: 0;
	padding: 0;
	list-style-position: outside;
	list-style-type: none;
	line-height: 1;
}

.social-icons-menu li {
	float: left;
	margin: 0;
	padding: 0;
}

.social-icons-menu li a {
	position: relative;
	display: inline-block;
	padding: 0.5em;
	text-decoration: none;
}

.social-icons-menu li a .screen-reader-text {
	display: none;
}

/* Add Genericons */
.social-icons-menu li a:before {
	display: inline-block;
	color: #fff;
	vertical-align: top;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-icons-menu li a:before { content: '\f408'; } /* Default Icon */
.social-icons-menu li a[href*="codepen.io"]:before  { content: '\f216'; }
.social-icons-menu li a[href*="digg.com"]:before { content: '\f221'; }
.social-icons-menu li a[href*="dribbble.com"]:before { content: '\f201'; }
.social-icons-menu li a[href*="facebook.com"]:before { content: '\f204'; }
.social-icons-menu li a[href*="flickr.com"]:before { content: '\f211'; }
.social-icons-menu li a[href*="plus.google.com"]:before { content: '\f218'; }
.social-icons-menu li a[href*="github.com"]:before { content: '\f200'; }
.social-icons-menu li a[href*="instagram.com"]:before { content: '\f215'; }
.social-icons-menu li a[href*="linkedin.com"]:before { content: '\f207'; }
.social-icons-menu li a[href*="pinterest.com"]:before { content: '\f209'; }
.social-icons-menu li a[href*="polldaddy.com"]:before { content: '\f217'; }
.social-icons-menu li a[href*="getpocket.com"]:before { content: '\f224'; }
.social-icons-menu li a[href*="reddit.com"]:before { content: '\f222'; }
.social-icons-menu li a[href*="spotify.com"]:before { content: '\f515'; }
.social-icons-menu li a[href*="skype.com"]:before,
.social-icons-menu li a[href*="skype:"]:before { content: '\f220'; }
.social-icons-menu li a[href*="stumbleupon.com"]:before { content: '\f223'; }
.social-icons-menu li a[href*="tumblr.com"]:before { content: '\f214'; }
.social-icons-menu li a[href*="twitch.tv"]:before { content: '\f516'; }
.social-icons-menu li a[href*="twitter.com"]:before { content: '\f202'; }
.social-icons-menu li a[href*="vimeo.com"]:before  { content: '\f212'; }
.social-icons-menu li a[href*="wordpress.org"]:before { content: '\f205'; }
.social-icons-menu li a[href*="wordpress.com"]:before { content: '\f205'; }
.social-icons-menu li a[href*="youtube.com"]:before { content: '\f213'; }
.social-icons-menu li a[href*="newsletter"]:before,
.social-icons-menu li a[href*="mailto"]:before { content: '\f410'; }
.social-icons-menu li a[href*="/feed"]:before,
.social-icons-menu li a[href*="/feed/"]:before,
.social-icons-menu li a[href*="?feed=rss2"]:before,
.social-icons-menu li a[href*="feedburner.google.com"]:before,
.social-icons-menu li a[href*="feedburner.com"]:before { content: '\f413'; }

/*--------------------------------------------------------------
## Post Navigation Menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 11.0 - Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 2em 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1.5em 0;
	background: #252525;
}

.widget-title {
	display: inline-block;
	margin: 0;
	padding: 0.4em 0.8em;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
}

.widget ul {
	margin: 0;
	padding: 0 0.3em;
	list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

.widget-title a:link,
.widget-title a:visited  {
	color: #fff;
}

.widget-title a:hover,
.widget-title a:active  {
	color: #fff;
	text-decoration: underline;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
## 11.1 - Default Widgets
--------------------------------------------------------------*/

/* Theme Search Widget */
.search-form {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

.search-form .screen-reader-text {
	display: none;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.55em 3em 0.5em 1em;
	width: 100%;
	-webkit-appearance: none;
}

.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.6em 0.8em;
	border: none;
	font-size: 16px;
	font-size: 1rem;
	cursor: pointer;
}

.search-form .search-submit .genericon-search {
	display: inline-block;
	margin: 0;
	color: #fff;
	content: '\f400';
	vertical-align: top;
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*--------------------------------------------------------------
## 11.2 - Magazine Posts Widgets
--------------------------------------------------------------*/
.widget-magazine-posts {
	margin-bottom: -1.5em;
}

.widget-magazine-posts .type-post {
	margin: 0 0 2em 0;
	padding: 0;
	border: none;
	background: none;
}

.widget-magazine-posts .type-post .wp-post-image {
	margin: 0 0 0.5em;
	max-width: 100%;
}

.widget-magazine-posts .type-post .entry-content {
	font-size: 16px;
	font-size: 1rem;
}

.widget-magazine-posts .type-post .entry-content p {
	margin: 1em 0 0;
}

.widget-magazine-posts .type-post .more-link {
	margin: 1em 0 0;
}

.widget-magazine-posts .large-post .entry-title {
	font-size: 20px;
	font-size: 1.25rem;
}

.widget-magazine-posts .medium-post {
	display: block;
	float: left;
	box-sizing: border-box;
	padding-right: 2em;
	width: 33.33333333%;
}

.widget-magazine-posts .medium-post .entry-title {
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: 'Oxygen', Tahoma, Arial;
}

.widget-magazine-posts .medium-post .entry-content {
	font-size: 15px;
	font-size: 0.9375rem;
}

.widget-magazine-posts .small-post {
	display: block;
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.widget-magazine-posts .small-post .wp-post-image {
	float: left;
	margin: 0 1em 0 0;
	max-width: 40%;
}

.widget-magazine-posts .small-post .entry-title {
	font-size: 14px;
	font-size: 0.875rem;
	font-family: 'Oxygen', Tahoma, Arial;
}

.widget-magazine-posts .medium-post .entry-meta,
.widget-magazine-posts .small-post .entry-meta {
	font-size: 12px;
	font-size: 0.75rem;
}

/* Magazine Posts Grid Widget */
.widget-magazine-posts .magazine-grid {
	margin-right: -2em;
}

.widget-magazine-posts .magazine-grid .large-post {
	float: left;
	box-sizing: border-box;
	padding-right: 2em;
	width: 50%;
}

.widget-magazine-posts .magazine-grid .post-column:nth-child(2n+1) .large-post,
.widget-magazine-posts .magazine-grid .post-column:nth-child(3n+1) .medium-post {
	clear: left;
}

/* Magazine Posts Columns Widget */
.gambit-magazine-posts-columns {
	padding: 0;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content .magazine-posts-columns-post-list {
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content {
	float: left;
	width: 100%;
}

.widget-magazine-posts-columns .magazine-posts-column-left {
	float: left;
	box-sizing: border-box;
	padding-right: 1em;
	width: 50%;
}

.widget-magazine-posts-columns .magazine-posts-column-right {
	box-sizing: border-box;
	margin-left: 50%;
	padding-left: 1em;
	width: 50%;
}

.widget-magazine-posts-columns .medium-post {
	padding-right: 0;
	width: 100%;
}

/*--------------------------------------------------------------
# 12.0 - Posts and pages
--------------------------------------------------------------*/
.type-post,
.type-page,
.type-attachment  {
	margin: 0 0 2em;
	max-width: 100%;
}

.entry-title {
	display: inline;
	margin: 0;
	padding: 0;
	color: #252525;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: 28px;
	font-size: 1.75rem;
	font-family: 'Oxygen', sans-serif;
	line-height: 1.4;
}

.entry-title a:link,
.entry-title a:visited {
	color: #252525;
	text-decoration: none;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	color: #1585b5;
}

.type-post .wp-post-image {
	margin: 0 0 0.5em;
}

.entry-content {
	font-size: 16px;
	font-size: 1rem;
}

.sticky {}

/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
	background: #1585b5;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	font-size: 0.8125rem;
	font-family: 'Oxygen', Tahoma, Arial;
}

.more-link:link,
.more-link:visited  {
	color: #fff;
	transition: all 0.2s ease;
}

.more-link:hover,
.more-link:active {
	background: #252525;
}

/* Small Post Layout */
.small-archive-post {
	padding: 0 0 1.5em;
	border-bottom: 1px solid #ddd;
}

.small-archive-post .wp-post-image {
	float: left;
	margin: 0 1.5em 0 0;
	padding: 0 0 0.5em;
	max-width: 45%;
}

.small-archive-post .entry-title {
	font-size: 22px;
	font-size: 1.375rem;
}

.small-archive-post .entry-content {
	font-size: 15px;
	font-size: 0.9375rem;
}

.small-archive-post .entry-excerpt p {
	margin-bottom: 1em;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0;
	word-spacing: 1em;
	font-weight: bold;
}

/* Entry Meta */
.entry-meta {
	margin: 0.4em 0 0;
	color: #999;
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-meta a:link,
.entry-meta a:visited {
	color: #999;
}

.entry-meta a:hover,
.entry-meta a:active {
	color: #666;
}

.entry-meta .meta-date,
.entry-meta .meta-author {
	margin-right: 1em;
}

.entry-meta span:before {
	display: inline-block;
	margin-right: 0.2em;
	color: #666;
	vertical-align: middle;
	font: normal 16px 'Genericons';
	-webkit-font-smoothing: antialiased;
}

.entry-meta .meta-date:before{
	content: '\f307';
}

.entry-meta .meta-author:before{
	content: '\f304';
}

.entry-meta .meta-category:before{
	content: '\f301';
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .entry-meta .meta-date,
body.author-hidden .entry-meta .meta-author,
body.categories-hidden .entry-meta .meta-category {
	 position: absolute;
	 clip: rect(1px, 1px, 1px, 1px);
}

body.date-hidden.author-hidden.categories-hidden .content-area .entry-meta,
body.date-hidden.author-hidden .widget-magazine-posts .entry-meta {
	display: none;
}

/* Entry Tags & Tagcloud Widget */
.entry-tags {
	clear: both;
	margin: 0 0 1.5em;
}

.widget_tag_cloud .tagcloud,
.entry-tags .meta-tags {
	font-size: 14px;
	font-size: 0.875rem;
}

.widget_tag_cloud .tagcloud:before,
.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:before,
.entry-tags .meta-tags:after {
	display: table;
	content: "";
}

.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:after {
	clear: both;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	display: inline-block;
	float: left;
	margin: 0 0.3em 0.3em 0;
	padding: 0.15em 0.6em;
	border: none;
	background: #1585b5;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px !important;
	font-size: 0.75rem !important;
}

.widget_tag_cloud .tagcloud a:link,
.widget_tag_cloud .tagcloud a:visited,
.entry-tags .meta-tags a:link,
.entry-tags .meta-tags a:visited {
	color: #fff;
	transition: all 0.2s ease;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active,
.entry-tags .meta-tags a:hover,
.entry-tags .meta-tags a:active {
	background: #252525;
}

/* Post Navigation */
.post-navigation {
	margin: 1em 0 0;
	padding: 0.5em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.post-navigation .nav-links .nav-previous {
	float: left;
}

.post-navigation .nav-links .nav-next {
	float: right;
}

.post-navigation .nav-links .nav-previous a:before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next a:after {
	margin-left: 4px;
	content: "\00BB";
}

/* Theme Pagination */
.pagination {
	display: block;
	margin: 0 0 2em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
	background: #252525;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
}

.pagination a:link,
.pagination a:visited {
	color: #fff;
	transition: all 0.2s ease;
}

.pagination a:hover,
.pagination .current {
	background: #1585b5;
}

/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 2em;
	padding: 0.3em 0.8em;
	background: #1585b5;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-size: 0.8125rem;
	font-family: 'Oxygen', Tahoma, Arial;
}

.infinite-scroll #infinite-handle span:hover {
	background-color: #252525;
}

/* Archives and Search Heading */
.page-header {
	margin: 0 0 1.5em 0;
	background: #252525;
}

.page-header .archive-title {
	display: inline-block;
	margin: 0;
	padding: 0.4em 0.8em;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
}

.archive-description {
	color: #666;
}

/* Breadcrumbs */
.breadcrumbs-container {
	padding: 0.5em 1em;
	border-bottom: 1px solid #eee;
	background: #fff;
	font-size: 13px;
	font-size: 0.8125rem;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
	display: inline;
	margin: 0;
	padding: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0.5em;
	font-weight: normal;
	font-size: 13px;
	font-size: 0.8125rem;
}

.breadcrumbs .trail-items {
	list-style: none;
}

.breadcrumbs .trail-items li::after {
	padding: 0 0.5em;
	content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after { content: "\002F"; }
.trail-separator-dash .trail-items li::after { content: "\2013"; }
.trail-separator-bull .trail-items li::after { content: "\2022"; }
.trail-separator-arrow-bracket .trail-items li::after { content: "\003e"; }
.trail-separator-raquo .trail-items li::after { content: "\00bb"; }
.trail-separator-single-arrow .trail-items li::after { content: "\2192"; }
.trail-separator-double-arrow .trail-items li::after { content: "\21D2"; }

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}

/*--------------------------------------------------------------
# 11.0 - Comments
--------------------------------------------------------------*/

/* Comment Header */
.comments-header,
.comment-reply-title {
	margin: 0 0 1.5em 0;
	background: #252525;
}

.comments-header .comments-title,
.comment-reply-title span {
	display: inline-block;
	margin: 0;
	padding: 0.4em 0.8em;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 0.875rem;
}

/* Comment List */
.comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comment {
	margin: 0 0 1.5em;
	padding: 0.5em 1em 1.5em;
	border-bottom: 1px solid #ddd;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.comment:last-child {
	margin: 0;
	border-bottom: none;
}

.comment-meta {
	float: left;
	padding: 0;
	width: 100%;
}

.comment-meta .comment-author img {
	float: left;
	margin-right: 1em;
}

.bypostauthor {
	display: block;
}

.comment-meta .comment-metadata {
	margin-top: 0.3em;
	font-size: 14px;
	font-size: 0.875rem;
}

.comment-meta .comment-metadata a {
	margin-right: 1em;
}

.comment-content {
	clear: left;
	padding: 0.2em 0 0;
}

.comment-content a {
	word-wrap: break-word;
}

.comment ol.children {
	margin-top: 1.5em;
	padding-top: 1em;
	border-top: 1px solid #ddd;
	list-style: none;
}

.comment .comment-respond {
	margin-top: 2em;
}

/* Comment Pagination */
.comment-navigation {
	margin: 0 0 1.5em;
	padding: 0.5em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	font-size: 0.875rem;
}

.comment-navigation .nav-previous {
	float: left;
}

.comment-navigation .nav-next {
	float: right;
}

.comment-navigation .nav-previous a:before {
	margin-right: 3px;
	content: "\00AB";
}

.comment-navigation .nav-next a:after {
	margin-left: 4px;
	content: "\00BB";
}

/* Comment Form */
.comment-form {
	padding: 0;
}

.comment-form label {
	display: inline-block;
	min-width: 150px;
	font-weight: bold;
}

.comment-form textarea {
	margin-top: 0.4em;
}

.comment-reply-title small a {
	margin-left: 1em;
	text-decoration: underline;
	font-weight: normal;
	font-size: 14px;
	font-size: 0.875rem;
}

/*--------------------------------------------------------------
# 12.0 - Footer
--------------------------------------------------------------*/
.site-footer-wrap {
	background: #252525;
}

.site-footer {
	color: #fff;
	font-size: 14px;
	font-size: 0.875rem;
}

.site-footer .site-info {
	float: left;
	padding: 1em 2em;
}

.site-footer a:link,
.site-footer a:visited {
	color: #fff;
	text-decoration: underline;
}

.site-footer a:hover,
.site-footer a:active {
	text-decoration: none;
}

/*--------------------------------------------------------------
# 13.0 - Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## 13.1 - Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	font-size: 14px;
	font-size: 0.875rem;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.5em 0;
}

/*--------------------------------------------------------------
## 13.2 - Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 1em 1.5em 0 0;
	width: 100%;
	vertical-align: top;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
}

/*--------------------------------------------------------------
# 14.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 14.1 - Desktop X-Large ( < 1120px )
--------------------------------------------------------------*/
@media only screen and (max-width: 80em) {
	.site-content {
		padding: 1.5em 0 0 1.5em;
	}

	.content-area,
	.main-sidebar,
	.small-sidebar {
		padding-right: 1.5em;
	}

	.header-main {
		padding: 1.5em;
	}

	.widget,
	.widget-magazine-posts .type-post,
	.type-post,
	.type-page,
	.type-attachment,
	.pagination,
	.infinite-scroll #infinite-handle span {
		margin: 0 0 1.5em;
	}

	.widget-magazine-posts .medium-post,
	.widget-magazine-posts .magazine-grid .large-post {
		padding-right: 1.5em;
	}

	.widget-magazine-posts .magazine-grid {
		margin-right: -1.5em;
	}

	.widget-magazine-posts-columns .magazine-posts-column-left {
		padding-right: 0.75em;
	}

	.widget-magazine-posts-columns .magazine-posts-column-right {
		padding-left: 0.75em;
	}

	.widget-magazine-posts .large-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

}

/*--------------------------------------------------------------
## 14.2 - Desktop Large ( < 1120px )
--------------------------------------------------------------*/
@media only screen and (max-width: 70em) {
	.content-area {
		width: 70%;
	}

	.main-sidebar {
		width: 30%;
	}

	.small-sidebar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		padding: 0;
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
	}

	.small-sidebar .widget {
		padding-right: 1.5em;
		width: 33.333%;
	}

	.widget-magazine-posts .large-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

}

/*--------------------------------------------------------------
## 14.2 - Desktop Medium ( < 1040px )
--------------------------------------------------------------*/
@media only screen and (max-width: 65em) {



}

/*--------------------------------------------------------------
## 14.3 - Desktop Small ( < 960px )
--------------------------------------------------------------*/
@media only screen and (max-width: 60em) {
	.small-sidebar .widget {
		width: 50%;
	}

	.widget-magazine-posts .large-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

}

/*--------------------------------------------------------------
## 14.4 - Tablet Large ( < 880px )
--------------------------------------------------------------*/
@media only screen and (max-width: 55em) {
	.site-branding {
		float: none;
		margin: 0;
		text-align: center;
	}

	.site-branding .custom-logo {
		margin: 0.4em 0;
	}

	.header-widget {
		float: none;
		margin: 0.5em 0 0;
		text-align: center;
	}

	/*** Mobile Main Navigation ***/

	/* Reset */
	.main-navigation-menu li {
		position: static;
		float: none;
	}

	.main-navigation-menu ul,
	.mega-menu-item .mega-menu-content,
	.mega-menu-item .mega-menu-content .mega-menu-widget {
		position: static;
		top: auto;
		left: auto;
		display: block;
	}
	.main-navigation-menu ul a {
		float: none;
		width: auto;
	}

	.main-navigation-menu li ul ul {
		top: auto;
		left: auto;
		margin: 0;
	}

	.main-navigation-menu > .menu-item-has-children > a:after,
	.main-navigation-menu ul .menu-item-has-children > a:after {
		display: none;
	}

	/* Main Navigation Toggle */
	.main-navigation-toggle {
		display: block;
		padding: 0.9em 1.5em;
		width: 100%;
		background: #252525;
		text-align: left;
		font-size: 14px;
		font-size: 0.875rem;
	}

	.main-navigation-toggle:hover,
	.main-navigation-toggle:focus,
	.main-navigation-toggle:active {
		background: #1585b5;
		cursor: pointer;
	}

	.main-navigation-toggle:after {
		display: inline-block;
		float: left;
		margin: 0 0.75em 0 0;
		color: #fff;
		content: '\f419';
		vertical-align: middle;
		text-decoration: inherit;
		font-size: 24px;
		font-family: 'Genericons';
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	/* Main Navigation Menu */
	.main-navigation-menu {
		display: none;
		float: left;
		width: 100%;
		border-top: 1px solid rgba(255,255,255,0.1);
	}

	.main-navigation-menu a {
		display: block;
		clear: left;
		padding: 1em 1.5em;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		font-size: 14px;
		font-size: 0.875rem;
	}

	.main-navigation-menu li:last-child a {
		border-bottom: none;
	}

	.main-navigation-menu ul {
		float: none;
		width: 100%;
		border: none;
	}

	.main-navigation-menu ul a {
		display: block;
		padding-left: 2em;
		width: 100%;
	}

	.main-navigation-menu ul li ul a {
		padding-left: 4em;
	}

	.main-navigation-menu ul li ul li ul a {
		padding-left: 6em;
	}

	.main-navigation-menu ul li ul li ul li ul a {
		padding-left: 8em;
	}

	.main-navigation-menu ul li:last-child a {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.main-navigation-menu ul ul {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.main-navigation-menu li.current-menu-item > a {
		background: none;
		text-decoration: underline;
	}

	/* Mobile Submenu Dropdowns */
	.main-navigation-menu .submenu-dropdown-toggle {
		display: block;
		float: right;
		margin: 0;
		padding: 0.6em 1.2em;
	}

	.main-navigation-menu .submenu-dropdown-toggle:hover {
		cursor: pointer;
	}

	.main-navigation-menu .submenu-dropdown-toggle:before {
		color: #fff;
		content: '\f431';
		vertical-align: middle;
		text-decoration: inherit;
		font-size: 32px;
		font-family: 'Genericons';
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.main-navigation-menu .submenu-dropdown-toggle:hover:before {
		color: #aaa;
	}

	.main-navigation-menu .submenu-dropdown-toggle.active:before {
		content: '\f432';
	}

	.main-navigation-menu ul .submenu-dropdown-toggle {
		padding: 0.45em 1em;
	}

	.main-navigation-menu ul .submenu-dropdown-toggle:before {
		font-size: 24px;
	}

	/* Mega Menu Styling */
	.mega-menu-item .mega-menu-content {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}

	.mega-menu-item .mega-menu-two-columns > li,
	.mega-menu-item .mega-menu-three-columns > li,
	.mega-menu-item .mega-menu-five-columns > li {
		width: 100%;
	}

	.mega-menu-item .mega-menu-four-columns > li,
	.mega-menu-item .mega-menu-six-columns > li {
		width: 50%;
	}

}

/*--------------------------------------------------------------
## 14.5 - Tablet Medium ( < 800px )
--------------------------------------------------------------*/
@media only screen and (max-width: 50em) {
	.content-area {
		order: 1;
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
	}

	.main-sidebar {
		order: 2;
		width: 50%;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
	}

	.small-sidebar {
		display: block;
		order: 3;
		width: 50%;
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
	}

	.small-sidebar .widget {
		width: 100%;
	}

	/* Magazine Post Widgets */
	.widget-magazine-posts .large-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	/* Gallery */
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 25%;
	}
}

/*--------------------------------------------------------------
## 14.7 - Mobile Extra Large ( < 640px )
--------------------------------------------------------------*/
@media only screen and (max-width: 40em) {
	.main-sidebar {
		width: 100%;
	}

	.small-sidebar {
		width: 100%;
	}

	.entry-title {
		font-size: 24px;
		font-size: 1.5rem;
	}

	.small-archive-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	/* Magazine Post Widgets */
	.widget-magazine-posts .magazine-grid-two-columns {
		margin-right: 0;
	}

	.widget-magazine-posts .magazine-grid-three-columns {
		margin-right: -1.2em;
	}

	.widget-magazine-posts .magazine-grid .large-post,
	.widget-magazine-posts-columns .magazine-posts-column-left {
		float: none;
		padding: 0;
		width: 100%;
	}

	.widget-magazine-posts-columns .magazine-posts-column-right {
		margin-left: 0;
		padding-top: 1em;
		padding-left: 0;
		width: 100%;
	}

	.widget-magazine-posts .large-post .wp-post-image {
		float: left;
		margin: 0 1.5em 0 0;
		max-width: 50%;
	}

	.widget-magazine-posts .magazine-grid .large-post {
		clear: left;
	}

	.widget-magazine-posts .magazine-grid .large-post .wp-post-image {
		margin-bottom: 1em;
	}

	.widget-magazine-posts .large-post .entry-content {
		display: none;
	}

	/* Mega Menu Styling */
	.mega-menu-item .mega-menu-four-columns > li,
	.mega-menu-item .mega-menu-six-columns > li {
		width: 100%;
	}

}

/*--------------------------------------------------------------
## 14.8 - Mobile Large ( < 560px )
--------------------------------------------------------------*/
@media only screen and (max-width: 35em) {
	.small-archive-post .entry-content {
		display: none;
	}

	.widget-magazine-posts .magazine-grid-three-columns {
		margin-right: 0;
	}

	.widget-magazine-posts .medium-post {
		float: none;
		padding-right: 0;
		width: 100%;
	}

	.widget-magazine-posts .medium-post .wp-post-image {
		float: left;
		margin: 0 1em 0 0;
		max-width: 120px;
	}

}

/*--------------------------------------------------------------
## 14.9 - Mobile Medium ( < 480px )
--------------------------------------------------------------*/
@media only screen and (max-width: 30em) {
	.entry-title {
		font-size: 22px;
		font-size: 1.375rem;
	}

	.alignright, .alignleft {
		float: none;
		margin: 1em 0;
	}

	/* Magazine Homepage: Category Post Widgets */
	.widget-magazine-posts .medium-post .wp-post-image,
	.widget-magazine-posts .small-post .wp-post-image {
		max-width: 30%;
	}

	.widget-magazine-posts .medium-post .entry-title {
		font-size: 14px;
		font-size: 0.875rem;
	}

	.widget-magazine-posts .large-post .wp-post-image,
	.widget-magazine-posts .magazine-grid .large-post .wp-post-image {
		float: none;
		margin: 0 0 0.5em 0;
		max-width: 100%;
	}

	.widget-magazine-posts .large-post .entry-content,
	.widget-magazine-posts .large-post .entry-content .more-link {
		display: inline-block;
	}

	/* Gallery */
	.gallery-item {
		padding: 0.75em 1em 0 0;
	}

	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 50%;
	}
}

/*--------------------------------------------------------------
## 14.9.5 - Mobile Small ( < 320px )
--------------------------------------------------------------*/
@media only screen and (max-width: 25em) {
	.small-archive-post .entry-title {
		font-size: 18px;
		font-size: 1.125rem;
	}

}

/*--------------------------------------------------------------
## 14.10 - Mobile Small ( < 320px )
--------------------------------------------------------------*/
@media only screen and (max-width: 20em) {
	.site-branding .site-title {
		font-size: 28px;
		font-size: 1.75rem;
	}

	.entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

	.entry-meta .meta-date,
	.entry-meta .meta-author,
	.entry-meta .meta-category {
		display: block;
	}

	.small-archive-post .entry-title {
		font-size: 16px;
		font-size: 1rem;
	}

	.small-archive-post .entry-meta {
		display: none;
	}

	.widget-magazine-posts .large-post .entry-title {
		font-size: 20px;
		font-size: 1.25rem;
	}

}


/*--------------------------------------------------------------
# 15.0 - Theme Option Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## 15.1 - Theme Width
--------------------------------------------------------------*/
.wide-layout .site {
	margin: 0;
	max-width: 100%;
}

.wide-layout .container {
	margin: 0 auto;
	max-width: 1340px;
}

.wide-layout .site-content-wrap {
	margin: 0;
}

@media only screen and (min-width: 85em) {
	.wide-layout .header-main {
		padding-right: 0;
		padding-left: 0;
	}

	.wide-layout .site-footer .site-info {
		padding: 1em 0;
	}

}

/*--------------------------------------------------------------
## 15.2 - Theme Layout
--------------------------------------------------------------*/

@media only screen and (min-width: 50em) {
	/* Content Center */
	.content-center .content-area {
		order: 2;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
	}

	.content-center .main-sidebar {
		order: 1;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
	}

	/* Content Right */
	.content-right .content-area {
		order: 2;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
	}

	.content-right .main-sidebar {
		order: 1;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
	}

	.content-right .small-sidebar {
		order: 3;
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
	}

}

@media only screen and (min-width: 70em) {
	/* Content Right */
	.content-right .content-area {
		order: 3;
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
	}

	.content-right .main-sidebar {
		order: 2;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
	}

	.content-right .small-sidebar {
		order: 1;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
	}

}

/*--------------------------------------------------------------
# 16.0 - Media Query Fixes
--------------------------------------------------------------*/

/* Ensure navigation is visible on desktop view */
@media only screen and (min-width: 55.001em) {
	.main-navigation-menu {
		display: block !important;
	}
}

/*--------------------------------------------------------------
# 17.0 - CSS Hacks for Safari
--------------------------------------------------------------*/

/* Fix Flexbox issues for Safari 6.1-10.0 */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
	@media {
		.content-area,
		.main-sidebar,
		.small-sidebar {
			margin-right: -1px;
		}
	}
}

/* Fix Flexbox issues for Safari 10.1+ */
@media not all and (min-resolution:.001dpcm) {
	@media {
		.content-area,
		.main-sidebar,
		.small-sidebar {
			margin-right: -1px;
		}
	}
}

/*--------------------------------------------------------------
18.0 Customizer Preview
--------------------------------------------------------------*/
.magazine-widgets-placeholder {
	position: relative;
}

.magazine-widgets-placeholder .magazine-widgets-placeholder-title {
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 1em 1em 1em 55px;
	color: #0085ba;
	border: 2px dashed #0085ba;
}

/* Add some space around the visual edit shortcut buttons. */
.magazine-widgets-placeholder .customize-partial-edit-shortcut button {
	left: 15px;
	top: 14px;
}
