/*
Theme Name: Bloger
Theme URI: http://accesspressthemes.com/wordpress-themes/bloger
Author: AccessPress Temes
Author URI: http://accesspressthemes.com
Description: Blogger is a simple, clean and minimal blog theme suitable for personal or professional blogs, company or organization blog websites, news, magazine websites. The theme is fully customizable and contains all the features needed for a complete blog website. It is Fully responsive, bbPress compatible, translation ready, cross-browser compatible, SEO friendly, RTL ready. No coding required at all to create a complete blogging website. Great customer support via support forum, online chat, and email. View full demo here:http://demo.accesspressthemes.com/bloger/ support:support@accesspressthemes.com   
Version: 1.2.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: bloger
Tags: right-sidebar, full-width-template, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

bloger is based on Underscores http://accesspressthemes.com/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL V3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-x: hidden;

}
body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
 [hidden], template {
 display: none;
}
a {
	background-color: transparent;
}
a:active, a:hover {
	outline: 0;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 20px 0;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
 input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
 height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
 input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
    padding: 10px;
    border: 1px solid #d0d0d0;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body, button, input, select, textarea {
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Playfair Display', serif;
}
p {
	margin-bottom: 1.5em;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
big {
	font-size: 125%;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}
*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}
body {
	font-family: 'Lato', sans-serif;
	background: #fff; /* Fallback for when there is no custom background color defined. */
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 15px 20px;
	padding-left: 0;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul, li > ol {
	margin-bottom: 0;
	margin-left: 15px;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
	border: none;
	background: rgba(252, 117, 79, 0.75);
	color: #fff;
	outline: 0;
	text-align: center;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
	min-width: 150px;
	padding: 5px 15px 7px;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	background: #fc754f;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
	color: #111;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
	padding: 3px 7px;
}
textarea {
	padding: 3px 7px;
	width: 100%;
}
/*--------------------------------------------------------------
COMMENT SECTION
---------------------------------------------------------------*/
.comments-area .comment-respond form p.comment-form-author, .comments-area .comment-respond form p.comment-form-email, .comments-area .comment-respond form p.comment-form-url {
	float: left;
	width: 30%;
	margin-right: 20px;
}
.comments-area .comment-respond form p.comment-form-url {
	margin-right: 0;
}
.required {
	color: red;
}
.comments-area .comment-respond form p.comment-form-author input[type="text"], .comments-area .comment-respond form p.comment-form-email input[type="email"], .comments-area .comment-respond form p.comment-form-url input[type="url"] {
	width: 100%;
}
.comments-area {
	padding: 40px;
	float: left;
	width: 100%;
}
.comments-area {
	background-color: #fff;
	border: 1px solid #d7d8da;
	margin: 0 0 20px 0;
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.10);
}
.comments-area ol.comment-list {
	padding: 0;
	float: left;
	width: 100%;
	margin: 0 0 30px 0;
}
.comments-area ol.comment-list li {
	list-style: none;
	float: left;
	width: 100%;
}
.comments-area ol.comment-list li .comment-body {
	border-bottom: 1px solid #eee;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	position: relative;
	float: left;
	width: 100%;
}
.comments-area ol.comment-list li .comment-body .comment-author {
	float: left;
	width: 100%;
}
.comments-area ol.comment-list li .comment-body .comment-author img.avatar {
	margin: 0 20px 0 0;
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.comments-area ol.comment-list li .comment-body .comment-author .fn {
	padding-right: 5px;
	display: inline-block;
	float: left;
}
.comments-area ol.comment-list li .comment-body .comment-author span.says {
	color: #aaa;
	font-style: italic;
}
.comments-area ol.comment-list li .comment-body .comment-metadata {
	float: left;
	padding: 0 0 0 78px;
	margin: -36px 0 0 0;
	font-size: 12px;
}
.comments-area ol.comment-list li .comment-body .comment-metadata a {
	color: #999;
	font-style: italic;
	color: #404040;
}
.comments-area ol.comment-list li .comment-body .comment-content {
	padding: 0 0 0 78px;
	margin: 0;
	float: left;
	width: 100%;
	font-size: 15px;
}
.comments-area ol.comment-list li .comment-body .reply {
	position: absolute;
	right: 0;
}
.comments-area ol.comment-list li .comment-body .reply a.comment-reply-link, .comment-body .comment-metadata .edit-link {
	border-radius: 0;
	padding: 1px 4px;
	font-size: 12px;
	color: #333;
	line-height: 1.5;
	display: inline-block;
	border: 1px solid #ccc;
}
.comments-area ol.comment-list li .comment-body .reply a.comment-reply-link:hover, .comment-body .comment-metadata span.edit-link:hover {
	color: #fc754f;
	border: 1px solid #fc754f;
	background: none;
}
.comments-area ol.comment-list li .comment-body .comment-metadata a:hover {
	color: #fc754f;
}
.comments-area h2.comments-title, .comments-area .comment-respond h3.comment-reply-title {
	margin: 0 0 40px 0;
	color: #424242;
	font-family: 'Playfair Display', serif;
	font-size: 36px;
}
.comments-area h2.comments-title {
	margin: 0 0 40px 0;
}
.comment-body .comment-metadata span.edit-link {
	position: absolute;
	top: 4px;
	right: 50px;
}
.comments-area ol.comment-list li .comment-body .comment-content p {
	margin: 0 0 10px;
}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"], .comment-form input[type="password"], .comment-form input[type="search"] {
	display: block;
	width: 100%;
}
.comment-form-comment textarea#comment {
	width: 100% !important;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: inherit;
	text-decoration: none;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
a:visited {
	color: inherit;
}
a:hover, a:focus, a:active {
	color: #fc754f;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-top: 10px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/

.clearfix:before, .clearfix:after, .row:before, .row:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after, .ed-container:after, .ed-container:before {
	content: "";
	display: table;
}
.clearfix:after, .row:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after, .ed-container:after {
	clear: both;
}
.clear {
	clear: both;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
/* Search widget. */
.widget_search .search-submit {
	display: none;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}
.hentry {
	margin: 0 0 1.5em;
}
.updated:not(.published) {
	display: none;
}
.entry-meta {
	color: #ddbd85;
}
/*.entry-meta span {
	border-left: 1px solid #ddbd85;
	margin-left: 10px;
	padding-left: 10px;
}*/
.entry-meta span:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}
.single .byline, .group-blog .byline {
	display: inline;
}
.page-content, .entry-content, .entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
	display: none;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */ .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
	max-width: 100%;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {
	display: block;
}
/*-------------------------------------------------
GLOBAL bloger CSS
--------------------------------------------------*/
.bloger-wrapper {
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
}
body.box_layout {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
body.box_layout div#page {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*-------------------------------------------------
HEADER SECTION
--------------------------------------------------*/
header .widget {
	margin-bottom: 0;
}
/*-------------- HEADER SOCIAL --------------------------------*/
.header_social_icon {
	float: left;
}
.header_social_icon .aps-each-icon a::before {
	content: "";
	font-family: fontawesome;
	font-size: 20px;
	text-decoration: none;
}
.header_social_icon .aps-each-icon.icon-2-1 a::before {
	content: "\f09a";
}
.header_social_icon .aps-each-icon.icon-2-2 a::before {
	content: "\f099";
}
.header_social_icon .aps-each-icon.icon-2-3 a::before {
	content: "\f1a0";
}
.header_social_icon .aps-each-icon.icon-2-4 a::before {
	content: "\f0e1";
}
.header_social_icon .aps-each-icon.icon-2-5 a::before {
	content: "\f16d";
}
.header_social_icon .aps-each-icon a {
	color: #000;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 27px;
}
.header_social_icon .aps-each-icon img {
	display: block;
}
.header_social_icon .aps-each-icon .aps-icon-tooltip {
	display: none !important;
}
/*-------------- HEADER SEARCH --------------------------------*/
.search_header {
	float: right;
	line-height: normal;
}
.search_header:hover::before {
	opacity: 0.4;
}
.search_close {
	background: #fc754f;
	border-radius: 100%;
	border: 3px solid #fff;
	color: #fff;
	font-size: 30px;
	right: 0px;
	position: absolute;
	text-decoration: none;
	top: 5%;
	width: 50px;
	height: 50px;
	margin-right: 30px;
}
.search_close:hover {
	background: #fff;
	color: #fc754f;
	border: 3px solid #fc754f;
}
.error-404 form.search-form input[type="search"], .search-no-results form.search-form input[type="search"] {
	vertical-align: middle;
}
.error-404 form.search-form input[type="search"], .error-404 form.search-form input[type="submit"], .search-no-results form.search-form input[type="search"], .search-no-results form.search-form input[type="submit"] {
	padding: 5px 15px 7px;
	min-width: 50px;
	height: auto;
	line-height: normal;
	border-radius: 2px;
	vertical-align: middle;
	font-size: 14px;
}
.error-404 form.search-form input[type="submit"], .search-no-results form.search-form input[type="submit"] {
	border: 1px solid #FD9C80;
	background: #FD9C80;
}
.error-404 form.search-form input[type="submit"], .search-no-results form.search-form input[type="submit"] {
	position: static;
	vertical-align: middle;
}
.search_header .search-submit:hover, .error-404 form.search-form input[type="submit"]:hover, section.no-results.not-found form.search-form input[type="submit"]:hover {
	box-shadow: none;
	background: #FC754F;
	border: 1px solid #FC754F;
	color: #fff;
}
.search.search-results .entry-summary {
	color: #999;
}
.search.search-results #primary article footer.entry-footer {
	width: auto;
	color: #ddbd85;
	text-align: left;
}
.search.search-results #primary article footer.entry-footer span {
	border-left: 1px solid #ddbd85;
	margin-left: 10px;
	padding-left: 10px;
}
.search.search-results #primary article footer.entry-footer span:first-child {
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}
/*--------------------------------SITE BRANDING -----------------------------*/
.site-branding, .header-logo-container {
	text-align: center;
	clear: both;
}
.site-branding h1 {
	font-size: 32px;
	margin-bottom: 0;
	text-decoration: none;
}
.site-branding .site-title > a {
	color: #333;
	text-decoration: none;
}
.site-branding .site-description {
	color: #666;
	font-size: 13px;
	margin-top: 0;
}
/*---------------------------------------------------
NAVIGATION SECTION
----------------------------------------------------*/
/*.main-navigation {
	background-color: #2c3438;
}*/
.main-navigation button.menu-toggle {
	display: none;
}
.main-navigation button.menu-toggle:focus {
	outline: 0;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.main-navigation ul > li {
	display: inline-block;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size: 13px;
	position: relative;
	/*padding: 15px 12px;*/
	vertical-align: middle;
	line-height: normal;
}
.main-navigation ul > li a {
    padding: 15px 12px;
}
.main-navigation ul li.menu-item-has-children > a:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 14px;
    position: absolute;
    right: 4px;
}
.main-navigation ul li.menu-item-has-children a {
    position: relative;
    padding-right: 20px;
}
/*.main-navigation ul li.menu-item-has-children:after {
	content: "\f0d7";
	font-family: fontawesome;
	position: absolute;
	right: 0px;
	top: 30%;
	color: #fff;
	font-size: 13px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}*/
.main-navigation ul li a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #424242;
	line-height: normal;
	font-size: 13px;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	overflow: hidden;
	vertical-align: middle;
}
.main-navigation ul.nav > li:first-child a {
	padding-left: 0;
}
.main-navigation ul ul {
	position: absolute;
	z-index: 999;
	background-color: #fff;
	min-width: 200px;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0px 0;
	list-style: none;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	white-space: nowrap;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
	visibility: hidden;
	opacity: 0;
	white-space: nowrap;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}
.main-navigation ul li:hover ul.children,
.main-navigation ul li:hover > ul.sub-menu{
	opacity: 1;
	filter: Alpha(opacity= 100);
	visibility: visible;
}
.sub-menu,
.main-navigation ul.children {
	border: 1px solid rgba(0,0,0,.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding-top: 0;
	margin-top: 0;
}
/*.main-navigation ul li:hover > ul.sub-menu, .main-navigation ul ul li:hover ul {
	opacity: 1;
	filter: Alpha(opacity= 100);
	visibility: visible;
}*/
.main-navigation ul li ul.sub-menu li,
.main-navigation ul li ul.children li  {
	font-size: 16px;
	max-width: 100%;
	display: block;
	position: relative;
	padding: 0;
}
.main-navigation ul li ul li > ul {
	left: 50%;
	top: 100%;
}
.main-navigation ul li ul.sub-menu li a,
.main-navigation ul li ul.children li a {
	text-align: left;
	padding: 10px 15px;
	line-height: inherit;
	width: 100%;
	display: block;
	color: #424242;
}
.main-navigation ul li ul li.menu-item-has-children:after {
	right: 10px;
}
.main-navigation ul ul.sub-menu li.menu-item-has-children:hover:after,
.main-navigation ul ul.children li.menu-item-has-children:hover:after {
	color: #fff;
}
.main-navigation ul li ul.sub-menu li a:hover,
.main-navigation ul li ul.children li a:hover {
	color: #fc754f;
}
.main-navigation ul li ul.sub-menu li.current-menu-item a,
.main-navigation ul li ul.children li.current-menu-item a {
	color: #fc754f;
}
/*-----------------------------------------------------
SLIDER SECTION
------------------------------------------------------*/
.bloger-slider-wrapper {
	position: relative;/*margin-bottom: 50px;*/
}
.bloger-slider-wrapper ul {
	margin: 0;
}
.bloger-slider-wrapper ul li {
	line-height: 0;
	font-family: 'lato', sans-serif;
	font-weight: 400;
}
.bloger-slider-wrapper ul li .slider_conent {
	float: left;
	position: relative;
	width: 33.33%;
}
.bloger-slider-wrapper .slider_conent img {
	width: 100%;
}
.bloger-slider-wrapper .slider-caption-wrap {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.bloger-slider-wrapper .slider_caption {
	position: absolute;
	bottom: 0;
	color: #fff;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	padding: 10px;
	line-height: 25px;
}
.bloger-slider-wrapper .slider_caption a {
	text-decoration: none;
	color: #fff;
}
.bloger-slider-wrapper .slider-caption-wrap .slider-caption-title {
	position: absolute;
	top: 10px;
	color: #ddbd85;
	padding: 5px 20px 5px 60px;
	background: rgba(0, 0, 0, 0.6);
	line-height: 20px;
}
.bloger-slider-wrapper .slider-caption-wrap .slider-caption-status {
	position: absolute;
	top: 10px;
	right: 0;
	color: #fff;
}
.bloger-slider-wrapper .slider-caption-wrap p.slider-caption-views, .bloger-slider-wrapper .slider-caption-wrap p.slider-caption-comment {
	margin: 0;
}
.bloger-slider-wrapper .slider-caption-wrap p.slider-caption-views span, .bloger-slider-wrapper .slider-caption-wrap p.slider-caption-comment span {
	background: rgba(251, 255, 254, 0.6);
	font-size: 18px;
	font-weight: 300;
	padding: 3px 10px;
	display: inline-block;
	line-height: 20px;
	color: #000;
	position: relative;
	top: 1px;
	text-align: right;
}
.bloger-slider-wrapper .slider-caption-wrap p.slider-caption-views .fa, .bloger-slider-wrapper .slider-caption-wrap p.slider-caption-comment .fa {
	background: rgba(0, 0, 0, 0.6);
	padding: 5px;
	line-height: 17px;
}
.bloger-slider-wrapper .bx-pager.bx-default-pager {
	text-align: center;
	margin-top: 10px;
	position: absolute;
	left: 0;
	right: 0;
}
.bloger-slider-wrapper .bx-pager.bx-default-pager .bx-pager-item {
	display: inline-block;
}
.bloger-slider-wrapper .bx-pager.bx-default-pager .bx-pager-item .bx-pager-link {
	display: inline-block;
	background: #000;
	margin-right: 5px;
	width: 11px;
	height: 11px;
	border-radius: 100%;
	font: 0/0 a;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.bloger-slider-wrapper .bx-pager.bx-default-pager .bx-pager-item .bx-pager-link:hover, .bloger-slider-wrapper .bx-pager.bx-default-pager .bx-pager-item .bx-pager-link.active {
	background: #ddbd85;
}
.bloger-slider-wrapper .bx-controls-direction a {
	position: absolute;
	top: 40%;
	text-decoration: none;
	color: #fff;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.bloger-slider-wrapper .bx-controls-direction a.bx-prev {
	left: 0;
	opacity: 0;
	visibility: hidden;
	color: transparent;
}
.bloger-slider-wrapper .bx-controls-direction a.bx-prev:before {
	content: "\f104";
	font-family: fontawesome;
	font-size: 5em;
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
	line-height: 20px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.bloger-slider-wrapper:hover .bx-controls-direction a.bx-prev {
	opacity: 1;
	visibility: visible;
}
.bloger-slider-wrapper .bx-controls-direction a.bx-next {
	right: 0;
	opacity: 0;
	visibility: hidden;
	color: transparent;
}
.bloger-slider-wrapper .bx-controls-direction a.bx-next:after {
	content: "\f105";
	font-family: fontawesome;
	font-size: 5em;
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
	line-height: 20px;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.bloger-slider-wrapper:hover .bx-controls-direction a.bx-next {
	opacity: 1;
	visibility: visible;
}
.bloger-slider-wrapper .bx-controls-direction a.bx-next:hover:after, .bloger-slider-wrapper .bx-controls-direction a.bx-prev:hover:before, .bloger-slider-wrapper .bx-controls-direction a.bx-next:focus:after, .bloger-slider-wrapper .bx-controls-direction a.bx-prev:focus:before {
	color: #fff;
 text-shadow: 0 0 12px rgba(0, 0, 0, 0.4) transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
/*----------------------------------------------------
MAIN CONTENT SECTION
-----------------------------------------------------*/
#primary article .bloger_cat:hover {
	color: #e5a028;
}
#primary article .bloger_post_title {
	text-decoration: none;
	display: block;
	padding: 0px;
}
#primary article a.bloger_post_title:hover {
	color: #d9ab57;
}
#primary .blog-comment-views {
	position: absolute;
	top: 10px;
	right: 5px;
	color: #fff;
}
#primary .blog-comment-views p {
	margin: 0;
}
#primary .blog-comment-views p span {
	background: rgba(251, 255, 254, 0.6);
	font-size: 18px;
	font-weight: 300;
	padding: 3px 10px;
	min-width: 60px;
	display: inline-block;
	line-height: 20px;
	color: #000;
	position: relative;
	top: 1px;
	text-align: right;
}
#primary .blog-comment-views p .fa {
	background: rgba(0, 0, 0, 0.6);
	padding: 5px;
	line-height: 17px;
}
.excerpt_post_content {
	font-size: 18px;
	color: #aaa;
	font-weight: normal;
	line-height: 30px;
}
#primary article footer.entry-footer {
	display: inline-block;
	float: right;
}
#primary article footer.entry-footer aside {
	margin: 0;
}
.single.fullwidth-single-page #primary article footer.entry-footer {
	width: auto;
}
span.share_this_home {
	font-size: 16px;
	display: inline-block;
	margin-right: 20px;
	color: #c69745;
}
.apss-social-share .apss-single-icon {
	margin-bottom: 0;
}
#primary article footer.entry-footer .apss-social-share {
	display: inline-block;
}
#primary article footer.entry-footer .apss-social-share .apss-single-icon {
	display: inline-block;
}
#primary article footer.entry-footer .apss-social-share.apss-theme-4 .apss-icon-block {
	border-radius: 13px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.bloger_img_wrap img {
	width: 100%;
	height: auto;
}
#primary article footer.entry-footer .apss-social-share.apss-theme-4 .apss-single-icon .fa {
	padding: 0;
	line-height: 40px;
}
#primary article footer.entry-footer .apss-social-share.apss-theme-4 .apss-single-icon a:hover .apss-icon-block:after {
	display: none;
}
#primary article footer.entry-footer .apss-social-share.apss-theme-4 .apss-single-icon a:hover .apss-icon-block {
	border-top-left-radius: 13px;
	border-bottom-right-radius: 13px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}
#primary article footer.entry-footer .apss-social-share.apss-theme-4 a:hover .fa {
	color: #fff;
}
/*------------------------------------------------------
HOME GRID VIEW LAYOUT
-------------------------------------------------------*/
/*------------------------------------------------------
HOME FULLWIDTH SIDEBAR LAYOUT
-------------------------------------------------------*/
.fullwidth-sidebar-home #primary article a.bloger_post_title, .fullwidth-sidebar-home .widget-title, .fullwidth-sidebar-category-page #primary article a.bloger_post_title, .fullwidth-sidebar-category-page .widget-title, .fullwidth-sidebar-single-page #primary article a.bloger_post_title, .fullwidth-sidebar-single-page .widget-title, .entry-title, h1.entry-title, .search.search-results h1.page-title {
	font-size: 28px;
	font-weight: 400;
	margin-top: 0;
	font-family: 'Playfair Display', serif;
	color: #424242;
}
.fullwidth-sidebar-home .widget-title, .fullwidth-sidebar-category-page .widget-title, .fullwidth-sidebar-single-page .widget-title {
	margin-bottom: 25px;
}
.widget_apsi_widget .aps-social-icon-wrapper .aps-each-icon {
	width: 40px;
	margin-right: 5px;
}
header.site-header .widget_apsi_widget .aps-social-icon-wrapper .aps-each-icon {
	width: auto;
}
.widget_apsi_widget .aps-social-icon-wrapper .aps-each-icon span {
	display: none !important;
}
.widget_bloger_recent_posts .recent-post-wrap {
	margin-bottom: 10px;
	line-height: 0;
}
.widget_bloger_recent_posts .recent-post-wrap a.img_recent_post_img {
	display: block;
	/*width: 28%;*/
	overflow: hidden;
	margin-right: 10px;
	line-height: 0;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.widget_bloger_recent_posts .recent-post-wrap a.img_recent_post_img img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.widget_bloger_recent_posts .recent-post-wrap a.img_recent_post_img img {
	transition: 0.5s ease-in-out;
}
.widget_bloger_recent_posts .recent-post-wrap > a:hover {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	overflow: hidden;
}
.widget_bloger_recent_posts .recent-post-wrap .recent-post-content {
	vertical-align: top;
	line-height: 20px;
	padding: 10px 0 0;
}
.widget_bloger_recent_posts .recent-post-wrap .recent-post-content span.recent-post-date-widget {
	font-size: 12px;
	color: #777;
	font-style: italic;
}
.widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*------------------------------------------------
FOOTER ABOVE CONTENT
-------------------------------------------------*/
footer.site-footer {
	padding-top: 50px;
}
.site-footer .footer_layer_one .footer_one_column_one, .site-footer .footer_layer_one .footer_one_column_two, .site-footer .footer_layer_one .footer_one_column_three {
	float: left;
	width: 30%;
	margin-right: 40px;
}
.site-footer .footer_layer_one .footer_one_column_three {
	margin-right: 0;
}
.site-footer .footer_layer_one .feat-page-title, .site-footer .footer_layer_one .widget-title {
	font-weight: 300;
	font-size: 20px;
	font-style: italic;
	margin-top: 0;
}
.site-footer .footer_one_column_one figure.feat_image_widget {
	width: 100%;
	height: 160px;
	overflow: hidden;
	margin: 0 0 10px 0;
}
.site-footer .footer_layer_one .feat-page-content {
	font-size: 15px;
	line-height: 23px;
	font-weight: 300;
	font-style: italic;
	color: #2c3438;
}
.site-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer_layer_one ul li:before {
	display: none;
}
.site-footer .footer_layer_one ul li {
	display: inline-block;
	line-height: 0;
	border: 2px solid #cfd0d2;
	margin-right: 2px;
	margin-bottom: -4px;
	border-radius: 2px;
	padding: 0;
	width: 95px;
	height: 78px;
	overflow: hidden;
	transition: all ease 0.4s;
	-weblit-transition: all ease 0.4s;
}
.site-footer ul.instagram-pics li img {
	transition: all ease 0.4s;
	-weblit-transition: all ease 0.4s;
}
.site-footer ul.instagram-pics li:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
/*-------------------------------------------------
FOOTER LAYOUT TWO SECTION
--------------------------------------------------*/
.footer_layer_two .widget-title {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	color: #2c3438;
	margin-top: 70px;
}
.footer_layer_two ul li:before {
	display: none;
}
.footer_layer_two ul li {
	height: auto;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	line-height: 0;
	overflow: hidden;
}
.footer_layer_two .widget ul li{
	display: inline-block;
	border-bottom: 0;
	padding: 0 20px;
}
.footer_layer_two{
	text-align: center;
}
.email-twitter-phone-section-wrap .bloger_img_title_twitter_wrap {
	display: inline-block;
	width: 31%;
	margin-right: 30px;
	text-align: center;
}
.email-twitter-phone-section-wrap .bloger_img_title_twitter_wrap:last-child {
	margin-right: 0;
}
aside.widget_bloger_middle_social {
	margin: 30px 0;
}
.email-twitter-phone-section-wrap a.bloger-email-title {
	font-size: 22px;
	color: #ab7a5d;
}
.email-twitter-phone-section-wrap a.bloger-email-title:hover {
	color: #ed7d27;
}
.email-twitter-phone-section-wrap img {
	display: block;
	margin: 0 auto 20px;
}
.bloger_img_title_twitter_wrap:hover img {
	animation-name: zoom-shake;
	-webkit-animation-name: zoom-shake;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-iteration-count: 2;
	-webkit-animation-iteration-count: 2;
}
 @keyframes zoom-shake {
 0%, 100% {
 transform: scale(1) rotate(0deg);
 -webkit-transform: scale(1) rotate(0deg);
}
 25% {
 transform: scale(1.2) rotate(10deg);
 -webkit-transform: scale(1.2) rotate(10deg);
}
 50% {
 transform: scale(1.2) rotate(-10deg);
 -webkit-transform: scale(1.2) rotate(-10deg);
}
 75% {
 transform: scale(1.2) rotate(10deg);
 -webkit-transform: scale(1.2) rotate(10deg);
}
}
 @-webkit-keyframes zoom-shake {
 0%, 100% {
 transform: scale(1) rotate(0deg);
 -webkit-transform: scale(1) rotate(0deg);
}
 25% {
 transform: scale(1.2) rotate(10deg);
 -webkit-transform: scale(1.2) rotate(10deg);
}
 50% {
 transform: scale(1.2) rotate(-10deg);
 -webkit-transform: scale(1.2) rotate(-10deg);
}
 75% {
 transform: scale(1.2) rotate(10deg);
 -webkit-transform: scale(1.2) rotate(10deg);
}
}
/*-------------------------------------------------
FOOTER LAYOUT THREE SECTION
--------------------------------------------------*/
.footer_layer_three {
	background: #2c3438;
	padding: 50px 0 40px 0;
}
.footer_layer_three aside.widget {
	margin-bottom: 0;
}
.footer_layer_three aside.widget .full-width-logo-wrap {
	text-align: center;
}
/*-------------------------------------------
FOOTER SECTION
--------------------------------------------*/
.site-info .footer_btm_left {
	text-align: center;
	padding-bottom: 15px;
}
.site-info .footer_btm_left a {
	text-decoration: none;
	color: #424242;
	font-size: 13px;
	text-transform: capitalize;
}
.site-info .footer_btm_left a:hover {
	color: #fc754f;
}
.footer_btm_right .move_to_top_bloger {
	font-size: 25px;
	text-align: center;
	width: 35px;
	height: 35px;
	line-height: 30px;
	border: 1px solid #6A6869;
	border-radius: 50%;
	background-color: #6A6869;
	margin: 0 auto;
	display: block;
}
.footer_btm_right .move_to_top_bloger:hover {
	background: #fc754f;
	border-color: #fc754f;
}
.footer_btm_right .move_to_top_bloger i.fa {
	color: #fff;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.footer_btm_right .move_to_top_bloger:hover i.fa {
	color: #fff;
	transform: translateY(-3px);
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
}
/*-------------------------------------------------
CONTACT PAGE
--------------------------------------------------*/
.fullwidth-single-page .wpcf7 form p {
	float: left;
	width: 31%;
	margin-right: 20px;
}
.fullwidth-single-page .wpcf7 form p.fullwidth {
	width: 100%;
	float: none;
}
.fullwidth-single-page .wpcf7 form p input {
	width: 100%;
}
.fullwidth-single-page .wpcf7 form p input.wpcf7-submit {
	background: #ddbd85;
	text-shadow: none;
	box-shadow: none;
	font-size: 18px;
	border: none;
	border-radius: 0;
	height: 45px;
	width: 100px;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
}
.fullwidth-single-page .wpcf7 form p input.wpcf7-submit:hover {
	background: #ed7d27;
	color: #fff;
}
.wpcf7-textarea {
	width: 100% !important;
}
/*---------------------------------------------------
ERROR 404 NOT FOUND PAGE
----------------------------------------------------*/
section.error-404.not-found, section.no-results.not-found {
	margin-bottom: 50px;
	text-align: center;
}
.error-404 .page-content .error-404-img {
	position: relative;
	width: 137px;
	margin: 0 auto;
}
.error-404 .page-content .error-404-img img {
	display: none;
}
.error-404 .page-content .error-404-img:before {
	content: "\f119";
	font-family: fontawesome;
	font-size: 10em;
	line-height: 1.2;
}
.error-404 .page-content .error-404-img:after {
	content: "";
	background: #333;
	width: 5px;
	height: 9px;
	border-radius: 100%;
	display: inline-block;
	position: absolute;
	right: 44px;
	top: 80px;
	animation-name: drop;
	animation-duration: 1s;
	animation-iteration-count: Infinite;
}
 @keyframes drop {
 100% {
 top: 60%;
 opacity: 0;
}
}
@-webkit-keyframes drop {
 100% {
 top: 60%;
 opacity: 0;
}
}
/*------------------------------------------------------
PININTEREST DESIGN LAYOUT
-------------------------------------------------------*/
#apsp-pinterest-latest-pins.apsp-caption-disabled {
	margin: 0;
}
.apsp-caption-disabled .apsp-pinterest-latest-pin {
	width: 12.5%;
	background: inherit;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	position: static !important;
	height: 170px;
	overflow: hidden;
}
.apsp-caption-disabled .apsp-pinterest-latest-pin .apsp-pinterest-image a {
	position: relative;
}
.apsp-caption-disabled .apsp-pinterest-latest-pin .apsp-pinterest-image a:after {
	content: "\f0d2";
	font-family: fontawesome;
	font-size: 50px;
	color: #cc444d;
	position: absolute;
	top: 0;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 170px;
	line-height: 170px;
	opacity: 0;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
}
.apsp-caption-disabled .apsp-pinterest-latest-pin .apsp-pinterest-image a:hover:after {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
}
/*======new css======*/

.main-navigation ul li:hover a, .main-navigation ul > li.menu-item-has-children:hover:after, 
.main-navigation ul > li.current-menu-item a, 
.main-navigation ul > li.current-menu-parent a, 
.main-navigation ul > li.current_page_item a {
	color: #fc754f;
}
.main-navigation ul.children li{
	display: block;
}
.main-navigation {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	margin-bottom: 3px;
}
.header_social_search_wrap {
	border-bottom: 1px solid #d4d4d4;
	-webkit-box-shadow: 0 0 10px 1px #d4d4d4;
	box-shadow: 0 0 10px 1px #d4d4d4;
	display: block;
	width: 100%;
	padding: 5px 10px 5px;
}
.bloger-slider-wrapper .home_slider_header .slider_contents_wrap {
	position: absolute;
	left: 0;
	color: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
 z-index: 0 background-color: rgba(0,0,0,.2);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	height: 100%;
}
.bloger-slider-wrapper .home_slider_header .item:hover .slider_contents_wrap {
	background-color: rgba(0,0,0,.4);
}
.bloger-slider-wrapper .home_slider_header .slider_contents_wrap .owl_slider_title {
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}
.bloger-slider-wrapper .home_slider_header .slider_contents_wrap .owl_slider_title:after {
	content: "";
	width: 1px;
	height: 30px;
	background: #fff;
	transform: rotate(13deg);
	-moz-transform: rotate(13deg);
	-webkit-transform: rotate(13deg);
	position: absolute;
	margin-left: 10px;
	margin-top: -4px;
}
.bloger-slider-wrapper .home_slider_header .slider_contents_wrap .owl_slider_content {
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	line-height: 60px;
	margin: 10px 0 15px;
}
.bloger-slider-wrapper .home_slider_header .slider_contents_wrap .owl_slider_date {
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}
.bloger-slider-wrapper .home_slider_header .slider_contents_wrap .owl_slider_date:after {
	content: "";
	width: 1px;
	height: 30px;
	background: #fff;
	transform: rotate(13deg);
	-moz-transform: rotate(13deg);
	-webkit-transform: rotate(13deg);
	position: absolute;
	margin-left: 10px;
	margin-top: -4px;
}
.bloger-slider-wrapper .home_slider_header .slider_contents_wrap .owl_slider_content p {
	margin: 30px 0;
}
.bloger-slider-wrapper .home_slider_header .slider_contents_wrap .slider_inner_wrap {
	width: 50%;
	left: 0%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: left;
	margin-left: 10%;
}
/*.home_feature_post_wrap .feature_post_contents {
	width: 33.33%;
	float: left;
	padding: 0px 15px;
}*/
.home_feature_post_wrap .feature_post_contents {
   /* width: 33.33%;*/
    float: left;
    /* padding: 0px 15px; */
    width: 31.6667%;
    margin-left: 2.5%;
}
.home_feature_post_wrap a:first-child .feature_post_contents {
    margin-left: 0;
}
.home_feature_post_wrap .feature_post_contents .feature_post_image img {
	width: 100%;
}
.home_feature_post_wrap {
	margin: 30px 0 50px;
}
.feature_post_contents {
	position: relative;
}
.home_feature_post_wrap .feature_post_contents:after {
	position: absolute;
	top: 0;
	color: #fff;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.3);
	/*opacity: 0;*/
	content: "";
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}
.home_feature_post_wrap .feature_post_contents:hover .title_content_wrap:after {
	opacity: 1;
}
.home_feature_post_wrap .feature_post_contents .title_content_wrap .title_content_wrap_second {
	position: absolute;
	bottom: 10px;
	left: 40px;
	right: 40px;
	color: #fff;
	-moz-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	z-index: 9999;
}
.home_feature_post_wrap .feature_post_contents .title_content_wrap .feature_post_title {
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.home_feature_post_wrap .feature_post_contents .title_content_wrap .feature_post_title {
	display: block;
}
.home_feature_post_wrap .feature_post_contents .title_content_wrap .feature_post_content {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}
.bloger-wrapper .home_feature_post_wrap .feature_post_contents {
	position: relative;
	overflow: hidden;
}
.home_feature_post_wrap .feature_post_contents:hover img {
	-webkit-transform: scale(1.05);
	-moz-transform:scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	backface-visibility: hidden;
	display: inline-block;
}
.home_feature_post_wrap .feature_post_contents img {
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
	display: inline-block;
}
.home_feature_post_wrap .feature_post_contents .feature_post_image {
	overflow: hidden;
}
.fullwidth-sidebar-home .secondary, .fullwidth-sidebar-category-page .secondary {
	width: 25%;
	float: right;
}
.fullwidth-sidebar-home #primary, .fullwidth-sidebar-category-page #primary {
	width: 72%;
	float: left;
}
.fullwidth-home #primary {
	width: 100%;
}
#primary article .title_cat_wrap {
	text-align: center;
}
#primary article .title_cat_wrap .bloger_cat {
	text-align: center;
	color: #bbbbbb;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 11px;
	position: relative;
	padding-bottom: 9px;
	text-transform: uppercase;
	font-weight: normal;
}
#primary article .title_cat_wrap .bloger_cat:hover {
	color: #fc754f;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
#primary article .title_cat_wrap .bloger_cat:hover:before {
	background-color: #fc754f;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
#primary article .title_cat_wrap .bloger_cat:before {
	content: "";
	background-color: #ddd;
	height: 2px;
	position: absolute;
	bottom: 0px;
	left: 5px;
	right: 5px;
}
#primary article .title_cat_wrap .bloger_post_title {
	color: #424242;
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	margin-bottom: 15px;
	line-height: normal;
}
#primary article .title_cat_wrap .bloger_post_title:hover {
	color: #fc754f;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
#primary article .bloger_img_wrap {
	margin-bottom: 40px;
}
#primary article .date_comment_author .post_comment span {
	padding-right: 5px;
}
#primary article .date_comment_author .post_comment i {
	padding-right: 5px;
}
#primary article .date_comment_author:before {
	content: " ";
	right: 0;
	height: 1px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 50%;
	margin: 0 auto;
}
#primary article .date_comment_author {
	position: relative;
	text-align: center;
	padding: 0px 10px;
	color: #888888;
	font-size: 12px;
	font-family: 'Merriweather', Arial, Helvetica, sans-serif;
	margin-bottom: 15px;/*font-style: italic;*/
}
#primary article .date_comment_author span {
	display: inline-block;
	position: relative;
}
#primary article .date_comment_author .wrap11 {
	background: #fff;
	position: relative;
	display: inline-block;
	padding: 0 10px;
	font-style: italic;
}
#primary article .date_comment_author span.date_post:after {
	content: "/";
	padding: 0 10px;
}
#primary article .date_comment_author span.author_post:after {
	content: "/";
	padding: 0 10px;
}
#primary article .excerpt_post_content {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #494949;
	line-height: 25px;
	margin-bottom: 30px;
}
#primary article .read_more_share {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: rgba(73, 73, 73, 0.93);
	font-size: 16px;
	margin-bottom: 30px;
}
#primary article .read_more_share a.continue_link {
	display: inline-block;
	margin: 10px 0px 10px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
}
#primary article .read_more_share a.continue_link i {
	padding-left: 10px;
	font-size: 15px;
	font-weight: 700;
}
#primary article .read_more_share a.continue_link:hover {
	color: #fc754f;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	padding-left: 15px;
}
.widget_bloger_featured_page figure {
	margin: 0 auto;
	width: 170px;
	height: 170px;
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.widget_bloger_featured_page .feat-page-content {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #494949;
}
.widget_bloger_featured_page .read_more_feature {
	display: block;
	text-align: center;
	color: #494949;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 700;
}
.widget_bloger_featured_page .read_more_feature i {
	margin-left: 5px;
	/*-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	transition: all ease 0.4s;*/
	/*opacity: 0;*/
	font-size: 12px;
}
.widget_bloger_featured_page .read_more_feature a {
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	transition: all ease 0.4s;
}
.widget_bloger_featured_page .read_more_feature a:hover i {
	opacity: 1;
}
.widget_bloger_featured_page .read_more_feature a:hover {
	color: #fc754f;
	padding-left: 15px;
}
/*social icons*/
.widget_bloger_featured_page .social_share {
	text-align: center;
	display: block;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
/*secondary*/
.secondary .widget-title span, #secondary .widget-title span {
	display: inline-block;
	background: #fff;
	padding: 0 10px;
	position: relative;
}
.secondary .widget-title, #secondary .widget-title {
	position: relative;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 0 0 25px;
	font-weight: normal;
}
.secondary .recent-post-wrap .recent-post-title-widget, #secondary .recent-post-wrap .recent-post-title-widget {
	color: #333;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
	font-weight: 500;
}
.secondary .recent-post-wrap .recent-post-title-widget:hover, #secondary .recent-post-wrap .recent-post-title-widget:hover {
	color: #fc754f;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
.secondary .recent-post-wrap, #secondary .recent-post-wrap {
	margin-bottom: 18px;
	font-family: 'Playfair Display', serif;
	font-size: 12px;
	color: #777777;
	border-bottom: 1px solid #eee;
	padding-bottom: 18px;
}
.secondary .recent-post-wrap:last-child, #secondary .recent-post-wrap:last-child {
	border-bottom: none;
}
.secondary .recent-post-wrap span, #secondary .recent-post-wrap span {
	display: block;
	font-style: italic;
}
.secondary .recent-post-wrap .recent-post-title-widget:before, #secondary .recent-post-wrap .recent-post-title-widget:before {
	background-color: #dddddd;
	height: 2px;
	left: 0px;
	right: 15px;
	content: none;
	bottom: 0;
	position: absolute;
	width: 30px;
}
.secondary .recent-post-wrap .recent-post-title-widget:hover:before, #secondary .recent-post-wrap .recent-post-title-widget:hover:before {
	background-color: #fc754f;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
#primary .post_content_article {
	border-bottom: 1px solid #eee;
}
#primary .post_content_article:last-of-type {
	border-bottom: none;
}
#primary .post_content_article {
	margin-bottom: 50px;
}
#primary .bloger_img_wrap {
	position: relative;
}
#primary .bloger_img_wrap a {
	position: relative;
}
.feat-page-wrap .feature_autograph img {
	margin: 0 auto;
	display: inherit;
}
#featured-post-container .widget_categories ul li:before {
	right: 0;
}
.widget_categories ul li, 
.widget_archive ul li,
.widget ul li {
	border-bottom: 1px solid #eee;
	padding-left: 0;
}
.widget_categories ul li:last-child, .widget_archive ul li:last-child,.widget ul li:last-child {
	border-bottom: none;
}
.widget_categories ul li a, .widget_archive ul li a,
.widget ul li a  {
	width: 92%;
	display: inline-block;
	line-height: 40px;
	font-family: 'Playfair Display', serif;
	font-size: 14px
}
.site-info .bloger-wrapper {
	text-align: center
}
.footer_social_icon_front {
	display: inline-block;
	margin: 30px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 10px 0px 7px 10px;
	text-transform: uppercase;
	/*color: #333333;*/
	font-size: 11px;
	font-family: 'lato', sans-serif
}
.footer_social_icon_front aside {
	margin: 0;
}
.header-logo-container {
	margin-bottom: 40px;
}
/*------------------------------------------------------
HOME GRID VIEW LAYOUT
-------------------------------------------------------*/
.gridview-home #primary article .title_cat_wrap, .gridview-category-page #primary article .title_cat_wrap {
	text-align: left;
}
.gridview-home #primary article .title_cat_wrap .bloger_cat:before, .gridview-category-page #primary article .title_cat_wrap .bloger_cat:before {
	left: 0px;
	width: 30px;
}
.gridview-home #primary article .bloger_post_title, .gridview-category-page #primary article .bloger_post_title {
	font-size: 28px;
	font-weight: 400;
}
.gridview-home #primary article .date_comment_author:before, .gridview-category-page #primary article .date_comment_author:before {
	content: none;
}
.gridview-home #primary article .date_comment_author, .gridview-category-page #primary article .date_comment_author {
	text-align: left;
	padding: 0;
}
.gridview-home #primary article .date_comment_author .wrap11, .gridview-category-page #primary article .date_comment_author .wrap11 {
	padding: 0;
}
.gridview-home #primary article .date_comment_author span.date_post:after, .gridview-category-page #primary article .date_comment_author span.date_post:after {
	content: none;
}
.gridview-home #primary article .date_comment_author, .gridview-category-page #primary article .date_comment_author {
	font-style: normal;
}
.gridview-home #primary article .date_comment_author .date_post, .gridview-home #primary article .date_comment_author .post_comment, .gridview-category-page #primary article .date_comment_author .date_post, .gridview-category-page #primary article .date_comment_author .author_post, .gridview-category-page #primary article .date_comment_author .post_comment {
	padding-right: 3px;
}
.gridview-home #primary article .date_comment_author .author_post {
	padding-right: 5px;
}
.gridview-home #primary article .date_comment_author .post_comment i, .gridview-home #primary article .date_comment_author .post_comment span, .gridview-category-page #primary article .date_comment_author .post_comment i, .gridview-category-page #primary article .date_comment_author .post_comment span {
	padding-right: 2px;
}
.gridview-home #primary article .date_comment_author span.author_post:after, .gridview-category-page #primary article .date_comment_author span.author_post:after {
	content: none;
}
.gridview-home #primary article .bloger_img_wrap, .gridview-category-page #primary article .bloger_img_wrap {
	margin-bottom: 20px;
}
#primary article .read_more_share {
	float: left;
	width: 100%;
}
.gridview-home #primary article .read_more_share .social_share, .gridview-category-page #primary article .read_more_share .social_share {
	display: inline-block;
	float: right;
}
.gridview-home #primary article .read_more_share a.continue_link, .gridview-category-page #primary article .read_more_share a.continue_link {
	margin: 0;
	padding: 8px 0;
}
.gridview-home #primary article .read_more_share .social_share aside, .gridview-category-page #primary article .read_more_share .social_share aside {
	margin: 0;
}
.apss-social-share .apss-single-icon a {
	color: #fff;
	display: inline-block;
	/*float: none;
	height: 0;*/
	margin: 0px;
	padding: 10px 5px;
	position: initial;
	width: auto;
	background: none;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	font-size: 18px;
}
.apss-social-share .apss-single-icon a:hover {
	padding: 5px 5px 15px 5px;
}
.apss-social-share .apss-single-icon a:before {
	content: none !important;
}
.apss-social-share .apss-facebook.apss-single-icon:hover .fa {
	color: #3b5998;
}
.apss-social-share .apss-twitter.apss-single-icon:hover .fa {
	color: #55acee;
}
.apss-social-share .apss-google-plus.apss-single-icon:hover .fa {
	color: #db4437;
}
.apss-social-share .apss-pinterest.apss-single-icon:hover .fa {
	color: #ff0000;
}
.social_share .apss-social-share .apss-single-icon .apss-icon-block {
	display: block;
}
.gridview-home #primary .post_content_article, .gridview-category-page #primary .post_content_article {
	border-bottom: none;
}
.gridview-home #primary article .read_more_share a.continue_link:hover, .gridview-category-page #primary article .read_more_share a.continue_link:hover {
	padding-left: 10px;
}
.gridview-home .site-main article:nth-child(3n+1), .gridview-category-page .site-main article:nth-child(3n+1) {
	clear: both;
}
.gridview-home article .grid_layout_home, .gridview-category-page article .grid_layout_home {
	margin: 0 10px;
	border: 1px solid #d7d8da;
}
.gridview-home #primary article, .gridview-category-page #primary article {
	float: left;
	width: 33.33%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	position: relative;
}
.gridview-home #primary, .gridview-category-page #primary {
	display: block;
	position: relative;
}
.gridview-category-page #primary {
	margin-top: 50px;
}
.gridview-home #primary .artical_wraper, .gridview-category-page #primary .artical_wraper {
	margin: 0 -10px;
}
.gridview-home #primary .read_more_share, .gridview-category-page #primary .read_more_share {
	float: left;
	border-top: 1px solid #d7d8da;
	padding: 8px 15px;
	display: block;
}
.gridview-home #primary .grid_layout_home .read_more_share, .gridview-category-page #primary .grid_layout_home .read_more_share {
	margin-bottom: 0;
}
.gridview-home #primary .grid_layout_home .excerpt_post_content, .gridview-home #primary .grid_layout_home .date_comment_author, .gridview-home #primary .grid_layout_home .title_cat_wrap, .gridview-category-page #primary .grid_layout_home .excerpt_post_content, .gridview-category-page #primary .grid_layout_home .date_comment_author, .gridview-category-page #primary .grid_layout_home .title_cat_wrap {
	padding: 0 15px;
}
#primary .read_more_share a.continue_link i {
	padding-left: 10px;
}
#primary .read_more_share a.continue_link:hover i {
	opacity: 1;
}
/*--------------------------------------------------------------------*/
          /* category full-width with sidebar*/
/*--------------------------------------------------------------------*/
.fullwidth-sidebar-category-page .main-navigation {
	margin-bottom: 60px;
}
.fullwidth-sidebar-single-page #primary {
	width: 72%;
	float: left;
}
.fullwidth-sidebar-single-page .secondary {
	width: 25%;
	float: right;
}
.fullwidth-sidebar-single-page #primary h1.entry-title, .fullwidth-single-page #primary h1.entry-title {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	line-height: normal;
}
.widget-title:before {
	content: " ";
	right: 0;
	height: 1px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
}
.widget-title {
	position: relative;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}
.widget-title span {
	display: inline-block;
	background: #fff;
	padding: 0 10px;
	position: relative;
}
.fullwidth-sidebar-single-page #primary .post_content_article img.about_img {
	margin-bottom: 20px;
}
.fullwidth-sidebar-single-page .main-navigation, .fullwidth-single-page .main-navigation {
	margin-bottom: 50px;
}
.fullwidth-sidebar-single-page #primary .post_content_article, .fullwidth-single-page #primary .post_content_article {
	padding-bottom: 30px;
}
.fullwidth-sidebar-single-page #primary .post_content_article, .fullwidth-single-page #primary .post_content_article {
	margin-bottom: 30px;
}
.fullwidth-single-page .post_content_article .about_img {
	margin-bottom: 40px;
}
.fullwidth-single-page #primary h1.entry-title {
	text-align: center;
}
.fullwidth-single-page .about-full-image-wrap .about-image-wrap {
	width: 20%;
	margin: 0 auto;
}
.fullwidth-single-page .about-full-image-wrap .about-image-wrap img.about_img {
	border-radius: 50%;
}
.fullwidth-single-page #primary h1.entry-title {
	margin-bottom: 30px;
}
/*nav prev and next button*/
.post-navigation {
	margin: 0 0 30px;
	overflow: hidden;
}
.nav-links .nav-previous {
	float: left;
	width: 50%;
	line-height: 0;
}
.nav-links .nav-next {
	float: right;
	width: 50%;
}
.site-main .post-navigation .nav-links .nav-previous a {
	padding-left: 40px;
	padding-right: 5px;
}
.site-main .post-navigation .nav-links .nav-next a {
	padding-right: 40px;
	padding-left: 5px;
}
.site-main .post-navigation .nav-links .nav-previous a, .site-main .post-navigation .nav-links .nav-next a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: #FC754F;
	color: #ffffff;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 98%;
	text-transform: capitalize;
	margin: 0;
	border: 1px solid #FC754F;
}
.site-main .post-navigation .nav-links .nav-previous a:before, .nav-next a:before {
	position: absolute;
	font-family: "FontAwesome";
	color: #ffffff;
	top: 0;
}
.site-main .post-navigation .nav-links .nav-previous a:before {
	left: 5px;
	content: "\f060";
}
.site-main .post-navigation .nav-links .nav-previous a:after {
	left: 15px;
	top: -25px;
	-webkit-transform: rotate(70deg);
	-moz-transform: rotate(70deg);
	transform: rotate(70deg);
	-webkit-transform-origin: 0 0 0;
	-moz-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
}
.site-main .post-navigation .nav-links .nav-next a:before {
	right: 5px;
	content: "\f061";
}
.site-main .post-navigation .nav-links .nav-next a {
	float: right;
}
.site-main .post-navigation .nav-links .nav-next a:after {
	right: -25px;
	top: -25px;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	transform: rotate(-30deg);
	-webkit-transform-origin: 0 0 0;
	-moz-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
}
.site-main .post-navigation .nav-links .nav-previous a:after, .nav-next a:after {
	background: rgba(255, 255, 255, 0.42);
	height: 96px;
	width: 80px;
	z-index: 1;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: absolute;
	content: "";
}
.site-main .post-navigation .nav-links .nav-previous a:hover, .site-main .post-navigation .nav-links .nav-next a:hover {
	color: #FC754F;
	background: #ffffff;
}
.site-main .post-navigation .nav-links a:hover {
	opacity: 0.8;
}
.site-main .post-navigation .nav-links a:hover:before {
	color: #FC754F;
}
.site-main .post-navigation .nav-links a:hover:after {
	background: rgba(252,117,79,0.41);
}
.main-navigation .fullwidth-sidebar-single-page {
	margin-top: 50px;
}
.comment-form .form-submit input[type="submit"] {
	background-color: rgb(252,117,79);
	transition: all ease 0.6s;
}
.comment-form .form-submit input[type="submit"]:hover {
	background-color: rgba(252,117,79,0.6);
}
/*-------------------------------
sample page
------------------------------*/
.fullwidth-sidebar-single-page_page, .fullwidth-single-page_page {
	margin-top: 50px;
}
.fullwidth-sidebar-single-page_page #primary {
	width: 72%;
	float: left;
}
.fullwidth-sidebar-single-page_page .secondary {
	width: 25%;
	float: right;
}
.fullwidth-single-page_page #primary {
	width: 100%;
}
/*----------------------------------------
social icons starts
----------------------------------------*/
.fa_link_wrap {
	display: inline-block;
}
.footer_social_icon_front .fa_link_wrap .fa_wrap {
	display: inline-block;
	padding-right: 10px;
}
.footer_social_icon_front .fa_link_wrap .link_wrap {
	padding-right: 20px;
	display: inline-block;
}
.header_social_search_wrap_second .link_wrap {
	display: none;
}
.footer_social_icon_front .fa_link_wrap .fa_wrap i {
	font-size: 14px;
}
.footer_social_icon_front .fa_link_wrap a:hover {
	color: #fc754f;
}
.header_social_search_wrap .header_social_icon .fa_link_wrap:not(:last-child) span i {
	border-right: 1px solid #eee;
}
.header_social_search_wrap .header_social_icon .fa_link_wrap span i {
	padding: 0px 10px;
}
.header_social_search_wrap .header_social_icon .fa_link_wrap {
	display: inline-block;
}
.header_social_search_wrap_second {
	display: block;
}
.footer_btm_right {
	position: relative;
	margin-bottom: 25px;
}
.social_share a {
	margin-right: 15px;
	color: #8A8A8A;
}
.social_share a :hover {
	color: #fc754f;
}
/*----------------------------------
       social icons ends
----------------------------------*/
.bloger-slider-wrapper .slider_inner_wrap {
	display: none;
}
.bloger-slider-wrapper .active .slider_inner_wrap {
	display: block;
}
.default_home {
	margin-top: 30px;
}
/*----------------------------
     insta widget
-------------------------------*/
.ri-grid ul li:hover a {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.widget_pages ul li a, .widget_meta ul li a, .widget_nav_menu ul li a {
	display: block;
	line-height: 40px;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
}
.widget_pages ul li, .widget_meta ul li, .widget_nav_menu ul li {
	border-bottom: 1px solid #eee;
	padding-left: 0;
}
.widget_pages ul li:last-child, .widget_meta ul li:last-child, .widget_nav_menu ul li:last-child {
	border-bottom: none;
}
.calendar_wrap caption {
	padding-bottom: 20px;
}
.widget_calendar .calendar_wrap tbody {
	text-align: center;
}
.widget_calendar .calendar_wrap tbody tr {
	line-height: 30px;
	text-align: center;
}
/*--------------------------
           contact form
-----------------------------*/
#primary .post_content_article .excerpt_post_content .map-container iframe {
	width: 42%;
	float: right;
	margin-left: 3%;
}
#primary .post_content_article .excerpt_post_content .form-container {
	width: 55%;
	float: left;
}
.excerpt_post_content .form-container input[type="text"], .excerpt_post_content .form-container input[type="email"] {
	width: 100%;
}
/*------------------------------------------
         pagination
-----------------------------------------*/
.navigation_pegination ul {
	padding-left: 0;
	margin-left: 0;
}
.navigation_pegination,
.navigation.pagination {
	text-align: center;
	clear: both;
}
.navigation_pegination ul li a, 
.navigation.pagination .nav-links span,
.navigation.pagination .nav-links a{
	padding: 5px 10px 7px;
	background-color: #fff;
	color: #000;
	border: 1px solid #eee;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	min-width: 35px;
}
.navigation_pegination ul li,
.navigation.pagination .nav-links span,
.navigation.pagination .nav-links a {
	display: inline-block;
}
.navigation_pegination ul li.active a,
.navigation.pagination .nav-links span.current {
	background-color: #fc754f;
	color: #fff;
}
.navigation.pagination .nav-links .page-numbers.dots,
.navigation.pagination .nav-links .page-numbers.dots:hover{
	background-color: transparent;
	color: #000;
}
.navigation_pegination ul li a:hover,
.navigation.pagination .nav-links span:hover,
.navigation.pagination .nav-links a:hover {
	color: #fff;
	background-color: #fc754f;
}
.footer_copy_text {
	text-decoration: none;
	color: #424242;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
}
.search-results .site-main .artical_wraper {
	border-bottom: 1px solid #eee;
	margin-bottom: 50px;
}
.search-results #primary .post_content_article {
	margin-bottom: 0;
	border-bottom: none;
}
.post_content_article .bloger_img_wrap a:hover img {
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-ms-transform: scale(1.04);
	-o-transform: scale(1.04);
	transform: scale(1.04);
	opacity: 0.8;
}
.bloger_img_wrap {
	overflow: hidden;
	width: 100%;
	display: block;
}
.bloger_img_wrap a img {
	-webkit-transition: all 0.8s ease-in-out 0s;
	-moz-transition: all 0.8s ease-in-out 0s;
	-o-transition: all 0.8s ease-in-out 0s;
	transition: all 0.8s ease-in-out 0s;
	overflow: hidden;
	width: 100%;
}
.social_share .share_text {
	display: inline-block;
	float: left;
	padding: 7px 10px 0;
	color: #8A8A8A;
}
.social_share aside {
	display: inline-block;
}
.search-results .site-main .artical_wraper:last-of-type {
	border-bottom: none;
}
.search.search-results .main-navigation {
	margin-bottom: 50px;
}
/*--------------------------------
     home carousel slider
---------------------------------*/
.bloger-slider-wrapper .owl-controls {
	position: absolute;
	display: inline-block;
}
.bloger-slider-wrapper .owl-controls .owl-dots {
	z-index: 1000;
}
.bloger-slider-wrapper .owl-controls {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
	display: block;
}
.bloger-slider-wrapper .owl-controls .owl-dots .owl-dot {
	margin: 0 7px 0 0;
	display: inline-block;
	zoom: 1;
}
.bloger-slider-wrapper .owl-controls .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	display: block;
	background: #fff;
	cursor: pointer;
	text-indent: -9999px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
}
.bloger-slider-wrapper .owl-controls .owl-dots .owl-dot.active span {
	background: #fc754f;
}
.single_page_wrap .entry-content .title_cat_wrap .bloger_post_title {
	text-align: left;
	margin-bottom: 30px;
}
/*--------------------------
      header searchbar
------------------------------*/
.search_header .search-form {
	text-align: right;
}
.search-form {
	position: relative;
}
.search_header .search-form input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	font-family: inherit;
	font-size: 12px;
	color: transparent;
	border-color: transparent;
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	background: url(images/Find01.png)no-repeat right;
	width: 15px;
	height: 15px;
	outline: 0;
	vertical-align: middle;
	padding: 3px 18px 5px 5px;
}
.search_header .search-form input[type=search]:focus {
	width: 150px;
	color: #9E9D9D;
	background-color: #fff;
	cursor: auto;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	vertical-align: middle;
}
.search_header .search-form ::-webkit-input-placeholder {
 	color: transparent;
}
.search_header .search-form input::-moz-input-placeholder {
 	color: transparent;
}
.search_header .search-submit {
	display: none;
}
.site-main .post-navigation .nav-links a:hover:before {
    color: #fff !important;
}

/* sidebar*/
.fullwidth-sidebar-single-page_page .alignfull, .fullwidth-sidebar-single-page_page .alignwide{
    margin-left: 0;
    margin-right: 0;
}
.entry-content ol {
    padding-left: 1.25rem;
    margin: 0;
    margin-bottom: 0rem;
}

.entry-content ol li {
    position: relative;
    padding: 5px 0 5px 5px;
    font-weight: 400;
    list-style: decimal;
    line-height: 1.8;
}
.entry-content ul li {
    position: relative;
    padding: 5px 0 5px 5px;
    font-weight: 400;
    list-style: disc;
}

ul.wp-block-categories.wp-block-categories-list.aligncenter {
    text-align: center;
}
ul.wp-block-categories li{
    list-style: none;
}

.entry-content p {
    margin: 30px 0;
}

ul.wp-block-archives.wp-block-archives-list li {
    list-style: none;
}

ul.wp-block-archives.wp-block-archives-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.wp-block-gallery.alignnone{
    margin-left: 0;
    padding: 0;
}

.entry-content ul li p,.entry-content ol li p{
    margin: 5px 0 20px;
    padding-bottom: 0;
 }
.entry-content >ul {
    margin-bottom: 30px;
}
/*Gallery*/
.wp-block-gallery li.blocks-gallery-item figure {
    position: relative;
}

/*....................................new css for form...............................*/
.wp-block-gallery{
	width: 100%;
}

/*align image*/
@media (min-width: 750px) {
 
    .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: auto;
        max-width: 1000%;
    }
 
    .alignwide {
        margin-left: calc(25% - 25vw);
        margin-right: calc(25% - 25vw);
        width: auto;
        max-width: 1000%;
    }
}